{% macro sidebar(data) %}
<div class="u-block u-block--white">
    <{% if (data.variant == 'cta' and data.url) %}a{% else %}div{% endif %} class="b-sidebar"{% if data.url %} href="{{ data.url }}"{% endif %}>
        <h2{% if data.heading  %} class="sidebar__heading"{% endif %}>{% if data.headingIcon %}<span class="u-icon">{% include 'icons/'~ data.headingIcon ~'.svg' %} {% endif %}{% if (data.title and data.heading == false) %}{{ data.title }}{% else %}{{ data.heading }}{% endif %}{% if data.heading.icon %}</span>{% endif %}</h2>
{% if data.img %}
        <img src="{{ data.img }}" alt="{{ data.imgAlt }}" />{% endif %}
{% if data.heading %}
        <h3>{{ data.title }}</h3>
{% endif %}
{% if data.content %}
        {{ data.content|raw }}
{% endif %}
{% if data.button %}
        <{% if data.variant == 'cta' %}div{% else %}a{% endif %} class="c-buttoncta{% if data.variant == 'cta-ghost' %} c-buttoncta--ghost{% endif %}"{% if data.variant != 'cta' %} href="{{ data.url }}"{% endif %}>{% if data.buttonIcon %}<span class="u-icon">{% include 'icons/'~ data.buttonIcon ~'.svg' %} {% endif %}{{ data.button }}{% if data.buttonIcon %}</span>{% endif %}</{% if data.variant == 'cta' %}div{% else %}a{% endif %}>
{% endif %}    </{% if data.variant == 'cta' %}a{% else %}div{% endif %}>
</div>
{% endmacro %}
