{% if page.banner.img.img_url %}
<style>
    .b-banner--img {
        background-image: url({{ page.banner.img.img_url }});
    }
</style>
{% endif %}
<div class="u-block {% if page.banner.img.img_url %}u-block--black u-block--full{% else %}u-block--s u-block--grey{% endif %}">
<section class="b-banner{% if page.banner.img.img_url %} b-banner--img{% endif %}{% if page.banner.img.img_opacity == "dark" %} b-banner--img-dark{% elseif page.banner.img.img_opacity == "light" %} b-banner--img-light{% endif %}{% if page.banner.img.img_position == "top" %} b-banner--img-top{% elseif data.img.img_position == "bottom" %} b-banner--img-bottom{% endif %}">
    <section>
{#{% if page.banner.breadcrumbs.parent %}#}
{% if page.subsite %}
        <nav aria-label="breadcrumb">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="breadcrumb"><a href="{{ site.url }}">Home</a></li>
                {% if (page.subsite == 'dev') and ('Subsite' not in page.title) %}
                <li itemprop="breadcrumb"><a href="{{ site.url }}/dev/">Dev</a></li>
                {% endif %}
                {% if page.section %}<li itemprop="breadcrumb"><a href="../../">{{ page.section }}</a></li>{%  endif %}
                {% if page.subsection %}<li itemprop="breadcrumb"><a href="../">{{ page.subsection }}</a></li>{%  endif %}
                <li class="u-visually-hidden" itemprop="breadcrumb" aria-current="page">{{ data.title }}</li>
            </ol>
        </nav>
{% endif %}
{#{%  endif %}#}
        <h1>{% if page.v %}RDS v{{ site.version }}{% else %}{{ page.title }}{% endif %}{% if page.section == 'Components' %} Component{% elseif page.section == 'Blocks' %} Block{% endif %}</h1>
{% if page.banner.button %}
        <p>
{% for item in page.banner.button %}
            <a class="c-buttoncta" href="{{ item.url }}" role="button">{{ item.title }}</a>
{% endfor %}
        </p>
{% endif %}
    </section>
</div>
</div>
