{% macro banner(settings, data) %}
{% if data.img %}
<style>
    .b-banner--img {
        background-image: url({{ data.img }});
    }
</style>
{% endif %}
<div class="u-block{% if data.img %} u-block--black u-block--full {% else %} u-block--grey{% endif %}">
    <div class="b-banner{% if data.img %} b-banner--img{% endif %}{% if data.imgOpacity == "dark" %} b-banner--img-dark{% elseif data.imgOpacity == "light" %} b-banner--img-light{% endif %}{% if data.imgPosition == "top" %} b-banner--img-top{% elseif data.imgPosition == "bottom" %} b-banner--img-bottom{% endif %}">
        <section>
{% if data.breadcrumbs.parent %}
            <nav aria-label="breadcrumb">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="breadcrumb"><a href="{{ site.url }}">Home</a></li>
{% if data.breadcrumbs.greatgrandparent %}
                    <li itemprop="breadcrumb"><a href="../../../">{{ data.breadcrumbs.greatgrandparent }}</a></li>
{%  endif %}
{% if data.breadcrumbs.grandparent %}
                    <li itemprop="breadcrumb"><a href="../../">{{ data.breadcrumbs.grandparent }}</a></li>
{%  endif %}
{% if data.breadcrumbs.parent %}
                    <li itemprop="breadcrumb"><a href="../">{{ data.breadcrumbs.parent }}</a></li>
{%  endif %}
                    <li class="u-visually-hidden" itemprop="breadcrumb" aria-current="page">{{ data.title }}</li>
                </ol>
            </nav>
{%  endif %}
            <h1>{{ data.title }}</h1>
{% if data.button %}
            <p>
{% for item in data.button %}
                <a class="c-buttoncta" href="{{ item.url }}" role="button">{{ item.title }}</a>
{% endfor %}
            </p>
{% endif %}
        </section>
    </div>
</div>
{% endmacro %}
