{% macro banner(settings, data) %}
{% if data.img.img_url %}
<style>
    .b-banner--img {
        background-image: url({{ data.img.img_url_s }});
    }
    @media (min-width: 769px) {
        .b-banner--img {
            background-image: url({{ data.img.img_url }});
        }
    }
</style>
{% endif %}
<div class="u-block {% if data.img.img_url %}u-block--black u-block--full {% else %}u-block--s u-block--grey{% endif %}">
    <div class="b-banner{% if data.img.img_url %} b-banner--img{% endif %}{% if data.img.img_opacity == "dark" %} b-banner--img-dark{% elseif data.img.img_opacity == "light" %} b-banner--img-light{% endif %}{% if data.img.img_position == "top" %} b-banner--img-top{% elseif data.img.img_position == "bottom" %} b-banner--img-bottom{% endif %}">
        <div class="banner__container">
{% if data.breadcrumbs.parent %}
            <nav aria-label="breadcrumb">
                <ol class="banner__breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="banner__breadcrumb-item" itemprop="breadcrumb"><a href="{{ site.url }}">Home</a></li>
{% if data.breadcrumbs.greatgrandparent %}
                    <li class="banner__breadcrumb-item" itemprop="breadcrumb"><a href="../header">{{ data.breadcrumbs.greatgrandparent }}</a></li>
{%  endif %}
{% if data.breadcrumbs.grandparent %}
                    <li class="banner__breadcrumb-item" itemprop="breadcrumb"><a href="../{{ data.breadcrumbs.grandparent }}">{{ data.breadcrumbs.grandparent }}</a></li>
{%  endif %}
{% if data.breadcrumbs.parent %}
                    <li class="banner__breadcrumb-item" itemprop="breadcrumb"><a href="../header">{{ data.breadcrumbs.parent }}</a></li>
{%  endif %}
                    <li class="banner__breadcrumb-item active u-visually-hidden" itemprop="breadcrumb" aria-current="page">{{ data.title }}</li>
                </ol>
            </nav>
{%  endif %}
            <h1 class="banner__title">{{ data.title }}</h1>
{% if data.button %}
            <p class="banner__buttons">
{% for item in data.button %}
                <a class="c-button" href="{{ item.url }}" role="button">{{ item.title }}</a>
{% endfor %}
            </p>
{% endif %}
        </div>
    </div>
</div>
{% endmacro %}
