<ul>
	<li><a href="{{ site.url }}dev/custom-dev/blocks/">Working with Blocks</a> - Review Required</li>
	<li><a href="{{ site.url }}dev/custom-dev/grid/">Working with the CSS Grid</a> - Review Required</li>
	<li><a href="{{ site.url }}dev/custom-dev/layouts/">Custom Layouts</a> - Review Required</li>
	<li><a href="{{ site.url }}dev/custom-dev/mobile/">Mobile and Progressive Web Apps</a> - Review Required</li>
	<li><a href="{{ site.url }}dev/custom-dev/naming/">Naming Conventions and Terminology</a> - Review Required</li>
	<li><a href="{{ site.url }}dev/custom-dev/security/">Security Checklist</a> - Review Required</li>
</ul>

<p><strong>Other Past Docs</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/custom-dev/#">Download</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Setup / Tooling</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Directory Structure</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Theming</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Styling / SCSS</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Creating Blocks</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Creating Components</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Grid System</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Iconography</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Utility Classes</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Guides</a></li>
</ul>
