<ul>
    <li>Alerts
        <ul>
            <li><a href="{{ site.url }}dev/components/alerts/badge/">Badge</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
    <li>Buttons
        <ul>
            <li><a href="{{ site.url }}dev/components/buttons/cta-button/">Call to Action (CTA)</a></li>
            <li><a href="{{ site.url }}dev/components/buttons/social-button">Social button</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
    <li>Cards
        <ul>
            <li><a href="{{ site.url }}dev/components/cards/card/">Card</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
    <li>Content
        <ul>
            <li><a href="{{ site.url }}dev/components/content/accordion/">Accordion</a> -- (Docs Unfinished)</li>
            <li><a href="{{ site.url }}dev/components/content/imagecaption/">Image caption</a></li>
            <li><a href="{{ site.url }}dev/components/content/table/">Table</a> -- (Docs Unfinished)</li>
            <li><a href="{{ site.url }}dev/components/content/video/">Video</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
    <li>Forms
        <ul>
            <li><a href="{{ site.url }}dev/components/form/form/">Form</a> -- (Docs Unfinished)</li>
            <li><a href="{{ site.url }}dev/components/form/search/">Search</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
    <li><a href="{{ site.url }}dev/components/icons/">Icons</a> -- (Docs Unfinished)</li>
        <ul>
            <li><a href="{{ site.url }}dev/components/icons/social-icons/">Social icons</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
    <li>Logos
        <ul>
            <li><a href="{{ site.url }}dev/components/logos/carleton/">Carleton University logo</a> -- (Docs Unfinished)</li>
            <li><a href="{{ site.url }}dev/components/logos/ravens/">Carleton Ravens logo</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
    <li>Nav
        <ul>
            <li><a href="{{ site.url }}dev/components/nav/submenu/">Submenu</a> -- (Docs Unfinished)</li>
        </ul>
    </li>
</ul>
