{#  this is controlled via /app/config/sculpin_site.yml #}

<p><strong>Alert components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'alerts' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Button components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'buttons' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Card components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'cards' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Content components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'content' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Form components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'forms' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Heading components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'headings' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Icon components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'icons' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Logo components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'logos' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Nav components</strong></p>
<ul>
	{% for item in site.components %}
		{% if item.section == 'nav' %}
			<li><a href="{{ site.url }}dev/components/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
