<p><strong>Alerts</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/alerts/badge/">Badge</a> (No content)</li>
</ul>

<p><strong>Buttons</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/buttons/cta-button/">Call to Action (CTA)</a></li>
	<li><a href="{{ site.url }}dev/components/buttons/social-button">Social button</a> (Review required)</li>
</ul>

<p><strong>Cards</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/cards/card/">Card</a> -- (Missing end notes)</li>
</ul>

<p><strong>Content</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/content/accordion/">Accordion</a> -- (Missing end notes)</li>
	<li><a href="{{ site.url }}dev/components/content/imagecaption/">Image caption</a></li>
	<li><a href="{{ site.url }}dev/components/content/table/">Table</a> -- (No content)</li>
	<li><a href="{{ site.url }}dev/components/content/video/">Video</a> -- (No content)</li>
</ul>

<p><strong>Forms</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/form/form/">Form</a> -- (No content)</li>
	<li><a href="{{ site.url }}dev/components/form/search/">Search</a> -- (Docs Unfinished)</li>
</ul>

<p><strong>Icons</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/icons/library/">Icon Library</a></li>
</ul>

<p><strong>Logos</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/logos/carleton/">Carleton University logo</a> -- (Docs Unfinished)</li>
	<li><a href="{{ site.url }}dev/components/logos/ravens/">Carleton Ravens logo</a> -- (Docs Unfinished)</li>
</ul>

<p><strong>Nav</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/components/nav/submenu/">Submenu</a> -- (Docs Unfinished)</li>
</ul>

