<ul>
	<li><a href="{{ site.url }}dev/using-rds/getting-started/">Getting Started</a> - Review Required</li>
</ul>

<p><strong>Other Past Docs</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/using-rds/#">Starter Themes</a></li>
	<li><a href="{{ site.url }}dev/using-rds/#">Starter Templates</a></li>
	<li><a href="{{ site.url }}dev/using-rds/#">Browser and Device Compatibility</a></li>
	<li><a href="{{ site.url }}dev/using-rds/#">Accessibility</a></li>
	<li><a href="{{ site.url }}dev/using-rds/#">Release Notes</a></li>
	<li><a href="{{ site.url }}dev/using-rds/#">Getting Help</a></li>
</ul>
