<ul>
	<li><a href="{{ site.url }}dev/custom-dev/naming/">BEM & the Naming of Things (Review required)</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/blocks-components/">Custom Blocks and Components (In progress)</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/layouts/">Custom Layouts (In progress)</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/mobile/">Mobile and Progressive Web Apps (No content)</a></li>
</ul>

{# <p><strong>More Doc Ideas</strong></p>
<ul>
	<li><a href="{{ site.url }}dev/custom-dev/#">Download</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Setup / Tooling</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Directory Structure</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Theming</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Styling / SCSS</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Creating Blocks</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Creating Components</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Grid System</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Iconography</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Utility Classes</a></li>
	<li><a href="{{ site.url }}dev/custom-dev/#">Guides</a></li>
</ul> #}
