<ul>
    <li>Alerts
        <ul>
            <li><a href="{{ site.url }}dev/components/alerts/badge/">Badge</a></li>
        </ul>
    </li>
    <li>Buttons
        <ul>
            <li><a href="{{ site.url }}dev/components/buttons/cta-button/">Call to Action (CTA)</a></li>
            {#<li><a href="{{ site.url }}dev/components/buttons/">Hamburger (Menu)</a></li>#}
        </ul>
    </li>
    <li>Cards
        <ul>
            <li><a href="{{ site.url }}dev/components/cards/card/">Card</a></li>
        </ul>
    </li>
    <li><a href="{{ site.url }}dev/components/content/">Content</a>
        <ul>
            <li><a href="{{ site.url }}dev/components/content/accordion/">Accordion</a></li>
            <li><a href="{{ site.url }}dev/components/content/img-caption/">Image caption</a></li>
            <li><a href="{{ site.url }}dev/components/content/table/">Table</a></li>
            <li><a href="{{ site.url }}dev/components/content/video/">Video</a></li>
        </ul>
    </li>
    <li>Forms
        <ul>
            <li><a href="{{ site.url }}dev/components/form/form/">Form</a></li>
            <li><a href="{{ site.url }}dev/components/form/search/">Search</a></li>
        </ul>
    </li>
    <li><a href="{{ site.url }}dev/components/icons/">Icons</a></li>
    <li>Logos
        <ul>
            <li><a href="{{ site.url }}dev/components/logos/carleton/">Carleton University logo</a></li>
            <li><a href="{{ site.url }}dev/components/logos/raven/">Carleton Ravens logo</a></li>
        </ul>
    </li>
    <li>Nav
        <ul>
            <li><a href="{{ site.url }}dev/components/nav/submenu/">Submenu</a></li>
        </ul>
    </li>
</ul>
