<ul>
    <li><a href="{{ site.url }}dev/custom-dev/blocks/">Working with Blocks</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/custom-dev/grid/">Working with the CSS Grid</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/custom-dev/layouts/">Custom Layouts</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/custom-dev/mobile/">Mobile and Progressive Web Apps</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/custom-dev/naming/">Naming Conventions and Terminology</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/custom-dev/security/">Security Checklist</a> - Review Required</li>
</ul>
