<ul>
    <li>Alerts
        <ul>
            <li><a href="{{ site.url }}dev/components/alerts/badge/">Badge -- (Docs Unfinished)</a></li>
        </ul>
    </li>
    <li>Buttons
        <ul>
            <li><a href="{{ site.url }}dev/components/buttons/cta-button/">Call to Action (CTA)</a></li>
            {#<li><a href="{{ site.url }}dev/components/buttons/">Hamburger (Menu) -- (Review Required)</a></li>#}
        </ul>
    </li>
    <li>Cards
        <ul>
            <li><a href="{{ site.url }}dev/components/cards/card/">Card -- (Docs Unfinished)</a></li>
        </ul>
    </li>
    <li>Content
        <ul>
            <li><a href="{{ site.url }}dev/components/content/accordion/">Accordion -- (Docs Unfinished)</a></li>
            <li><a href="{{ site.url }}dev/components/content/imagecaption/">Image caption -- (Review Required)</a></li>
            <li><a href="{{ site.url }}dev/components/content/table/">Table -- (Review Required)</a></li>
            <li><a href="{{ site.url }}dev/components/content/video/">Video -- (Review Required)</a></li>
        </ul>
    </li>
    <li>Forms
        <ul>
            <li><a href="{{ site.url }}dev/components/form/form/">Form -- (Review Required)</a></li>
            <li><a href="{{ site.url }}dev/components/form/search/">Search -- (Review Required)</a></li>
        </ul>
    </li>
    <li><a href="{{ site.url }}dev/components/icons/">Icons -- (Review Required)</a></li>
    <li>Logos
        <ul>
            <li><a href="{{ site.url }}dev/components/logos/carleton/">Carleton University logo -- (Review Required)</a></li>
            <li><a href="{{ site.url }}dev/components/logos/raven/">Carleton Ravens logo -- (Review Required)</a></li>
        </ul>
    </li>
    <li>Nav
        <ul>
            <li><a href="{{ site.url }}dev/components/nav/submenu/">Submenu -- (Review Required)</a></li>
        </ul>
    </li>
</ul>
