{#  this is controlled via /app/config/sculpin_site.yml #}

<p><strong>Header blocks</strong></p>
<ul>
	{% for item in site.blocks %}
		{% if item.section == 'header' %}
			<li><a href="{{ site.url }}dev/blocks/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Main blocks</strong></p>
<ul>
	{% for item in site.blocks %}
		{% if item.section == 'main' %}{{ item[0] }}
			<li><a href="{{ site.url }}dev/blocks/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Aside blocks</strong></p>
<ul>
	{% for item in site.blocks %}
		{% if item.section == 'aside' %}{{ item[0] }}
			<li><a href="{{ site.url }}dev/blocks/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><strong>Footer blocks</strong></p>
<ul>
	{% for item in site.blocks %}
		{% if item.section == 'footer' %}
			<li><a href="{{ site.url }}dev/blocks/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
