<nav class="c-nav c-nav--sidenav" role="presentation" aria-label="Main Navigation">
    <h2>Dev Menu</h2>

    <ul class="nav__menu">
        <li class="u-hide-l">
            <a href="{{ site.url }}dev/">Dev Home</a>
        </li>
        <li>
            <a href="{{ site.url }}dev/getting-started/">Getting Started</a>
        </li>

        <li class="has-submenu">
            <a href="{{ site.url }}dev/main-concepts/">Main Concepts</a>
            <button aria-expanded="false" aria-controls="submenu_level_b1">+</button>
            <ul id="submenu_level_b1" class="is-submenu">
                <li>
                    <a href="{{ site.url }}dev/main-concepts/blocks-overview/">Blocks Overview</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/main-concepts/components-overview/">Components Overview</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/main-concepts/layouts/">Layouts</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/main-concepts/themes/">Themes</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/main-concepts/spacing/">Spacing</a>
                </li>
            </ul>
        </li>

        <li class="has-submenu{% if page.section == "Blocks" %} open{% endif %}">
            <a {% if page.title == "Blocks" %}class="u-active"{% endif %} href="{{ site.url }}dev/blocks/">Blocks</a>
            <button aria-expanded="{% if page.section == "Blocks" %}true{% else %}false{% endif %}" aria-controls="submenu_Blocks">+</button>
            <ul id="submenu_Blocks" class="is-submenu">
                <li class="has-submenu{% if page.subsection == "Header Blocks" %} open{% endif %}">
                    <a {% if page.title == "Header Blocks" %}class="u-active"{% endif %} href="{{ site.url }}dev/main-concepts/components-overview/">Header Blocks</a>
                    <button aria-expanded="{% if page.subsection == "Header Blocks" %}true{% else %}false{% endif %}" aria-controls="submenu_header_blocks">+</button>
                    <ul id="submenu_header_blocks" class="is-submenu">
                        <li>
                            <a {% if page.title == "Alert Header" %}class="u-active"{% endif %} href="{{ site.url }}dev/blocks/header/alertheader/">Alert Header</a>
                        </li>
                        <li>
                            <a {% if page.title == "Banner" %}class="u-active"{% endif %} href="{{ site.url }}dev/blocks/header/banner/">Banner</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/header/masthead/">Masthead</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ site.url }}dev/main-concepts/components-overview/">Main Blocks</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="{{ site.url }}dev/blocks/main/cardgrid/">Card Grid</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/main/content/">Content</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/main/details/">Details</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/main/listing/">Listing</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/main/textimg/">Text Image</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ site.url }}dev/main-concepts/components-overview/">Aside Blocks</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="{{ site.url }}dev/blocks/aside/alertaside/">Alert Aside</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/aside/sidebar/">Sidebar</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ site.url }}dev/main-concepts/components-overview/">Footer Blocks</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="{{ site.url }}dev/blocks/footer/footerbrand/">Footer Brand</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/footer/footersimple/">Footer Simple</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/footer/footersitemap/">Footer Sitemap</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ site.url }}dev/blocks/dialog/">Dialog Blocks</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="{{ site.url }}dev/blocks/dialog/login/">Login</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/blocks/dialog/search/">Search</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ site.url }}dev/components/">Components</a>
            <button aria-expanded="false" aria-controls="submenu_level_b1">+</button>
            <ul id="submenu_level_b1" class="is-submenu">
                <li class="has-submenu">
                    <a href="{{ site.url }}dev/components/content/">Content Components</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="{{ site.url }}dev/components/content/accordion/">Accordion</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/components/content/form/">Form</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/components/content/imgcaption/">Image Caption</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/components/content/form/">Table</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/components/content/imgcaption/">Video</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ site.url }}dev/components/alerts/">Alert Components</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="{{ site.url }}dev/components/alerts/alert/">Alert</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/components/alerts/badge/">Badge</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ site.url }}dev/components/buttons/">Buttons</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="{{ site.url }}dev/components/buttons/buttoncta/">CTA</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}dev/components/buttons/buttonsocial/">Social</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ site.url }}dev/components/card/">Card</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/components/icons/">Icons</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/components/menupopup/">Menu Popup</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/components/searchform/">Search Form</a>
                </li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ site.url }}dev/layouts/">Layouts & Navigation</a>
            <button aria-expanded="false" aria-controls="submenu_level_b1">+</button>
            <ul id="submenu_level_b1" class="is-submenu">
                <li>
                    <a href="{{ site.url }}dev/layouts/single-column/">Single Column</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/layouts/multi-column/">Multi-Column</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/layouts/overlay/">Overlay</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/layouts/navigation/">Navigation</a>
                </li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ site.url }}dev/theming/">Theming</a>
            <button aria-expanded="false" aria-controls="submenu_level_b1">+</button>
            <ul id="submenu_level_b1" class="is-submenu">
{#                <li>#}
{#                    <a href="{{ site.url }}dev/theming/install-tooling/">Install & Tooling</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{{ site.url }}dev/custom-theming/sass/">SASS</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{{ site.url }}dev/custom-theming/sass/">Custom Blocks</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{{ site.url }}dev/custom-theming/sass/">Working with Layouts</a>#}
{#                </li>#}
                <li>
                    <a href="{{ site.url }}dev/custom-theming/icon-system/">Icon System</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/custom-theming/grid-system/">Grid System</a>
                </li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ site.url }}dev/theming/">Guidelines</a>
            <button aria-expanded="false" aria-controls="submenu_level_b1">+</button>
            <ul id="submenu_level_b1" class="is-submenu">
                {#                <li>#}
                {#                    <a href="{{ site.url }}dev/theming/install-tooling/">Naming of thingss</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="{{ site.url }}dev/custom-theming/sass/">SASS</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="{{ site.url }}dev/custom-theming/sass/">Security</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="{{ site.url }}dev/custom-theming/sass/">Glossary</a>#}
                {#                </li>#}
                <li>
                    <a href="{{ site.url }}dev/guidelines/html-css-guide//">HTML & CSS Guides</a>
                </li>
                <li>
                    <a href="{{ site.url }}dev/custom-theming/grid-system/">Grid System</a>
                </li>
            </ul>
        </li>
        <h2 class="u-hide-l">RDS PRIMARY SECTIONS</h2>
        <li class="u-hide-l">
            <a href="{{ site.url }}about/">About RDS</a>
        </li>
        <li class="u-hide-l">
            <a href="{{ site.url }}dev/">Dev</a>
        </li>
        <li class="u-hide-l">
            <a href="{{ site.url }}design/">Design</a>
        </li>
        <li class="u-hide-l">
            <a href="{{ site.url }}content/">Content</a>
        </li>
        <li class="u-hide-l">
            <a href="{{ site.url }}accessibility/">Accessibility</a>
        </li>

        <li class="nav__expand">
            <button data-expanded="false">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M24 14H14v10h-4V14H0v-4h10V0h4v10h10z"></path></svg>
                <span class="foo">
                Expand all
            </span>
            </button>
        </li>
    </ul></nav>

