{% macro cardgrid(data) %}
{% if data.blockHeading %}
    <section class="u-block {% if data.blockColor %}u-block--{{ data.blockColor }}{% else %}u-block--white{% endif %}">
    <h2{% if data.blockHeadingCenter %} class="c-heading--center{% if data.subHeading %} c-heading--subheading{% endif %}"{% endif %}>{{ data.blockHeading }}</h2>
    {% if data.blockSubheading %}<p>{{ data.blockSubheading }}</p>
    {% endif %}
{% else %}
    <div class="u-block {% if data.blockColor %}u-block--{{ data.blockColor }}{% else %}u-block--white{% endif %}">
{% endif %}
    <div class="b-cardgrid{% if data.s2 == true %} b-cardgrid--s2col{% endif %}{% if data.stack == true %} b-cardgrid--stack{% endif %} u-grid{% if data.columns %} u-grid--{{ data.columns }}{% else %} u-grid--3{% endif %}">
{% for item in data.items %}
            {% include item.inc %}
{% endfor %}
    </div>
{% if data.blockHeading is defined and var is not null %}
</div>
{% else %}
</section>
{% endif %}
{% endmacro %}
