{% macro card(data) %}
<article class="c-card{% if data.variant == "figure" %} c-card--figure{% elseif data.variant == "video" %} c-card--video{% elseif data.variant == "people" %} c-card--people{% endif %}{% if data.utility %} {{ data.utility }}{% endif %}" itemscope itemtype="{% if data.variant == "news" %}http://schema.org/NewsArticle{% elseif data.variant == "people" %}http://schema.org/Person{% elseif data.variant == "video" %}http://schema.org/VideoObject{% elseif data.variant == "figure" %}http://schema.org/QuantitativeValue{% else %}http://schema.org/Article{% endif %}">
{% if data.url %}
    <a href="{{ data.url }}" itemprop="url">
{% endif %}
{% if data.img %}
        <figure itemscope itemtype="http://schema.org/ImageObject">
{% if data.imgWebp %}
            <picture>
                <source type="image/webp" srcset="{{ data.webp }}">
                <img src="{{ data.img }}" alt="{% if data.alt %}{{ data.alt }}{% else %}Read more about {{ data.title }}{% endif  %}" loading="lazy">
            </picture>
{% else %}
            <img src="{{ data.img }}" alt="{% if data.alt %}{{ data.imgAlt }}{% else %}Read more about {{ data.title }}{% endif  %}" loading="lazy">
{% endif %}
{% if data.variant == "video" %}
            <span class="u-icon u-icon--circle" aria-hidden="true">
                {% include '/icons/play.svg' %}
            </span>
{% endif %}
        </figure>
{% endif %}
{% if data.variant == "figure" %}
        <figure>
            <figcaption>{{ data.caption }}</figcaption>
            <p itemprop="value">{{ data.value }}</p>
        </figure>
{% else %}
        <header>
{% if data.variant == "news" %}
            <time datetime="{{ data.date }}" itemprop="datePublished" content="{{ data.date }}">{{ data.date|date("l, F jS") }}</time>
{% endif %}
            <h3 itemprop="{% if data.variant == "news" %}headline{% else %}name{% endif %}">{{ data.title }}</h3>
{% if data.text %}
            <p itemprop="description">{{ item.text|length > 105 ? item.text|slice(0, 105) ~ '...' : data.text  }}</p>
{% endif %}
        </header>
{% endif %}
{% if data.url %}
    </a>
{% endif %}
</article>
{% endmacro %}
