{% macro card(settings, data) %}
{% if settings.title -%}
<section class="u-block u-block--s{% if settings.color %} u-block--{{ settings.color }}{% endif %}{% if settings.utility %} {{ settings.utility }}{% endif %}">
    <h2 class="u-no-borders">{{ settings.heading }}</h2>
{% endif %}
<article class="c-card{% if data.img == false %} c-card--no-img{% endif %}{% if settings.variant == "video" %} c-card--video{% endif %}{% if data.name %} c-card--people{% endif %}{% if settings.utility %} {{ settings.utility }}{% endif %}" itemscope itemtype="{% if settings.variant == "news" %}http://schema.org/NewsArticle{% elseif settings.variant == "people" %}http://schema.org/Person{% elseif settings.variant == "video" %}http://schema.org/VideoObject{% else %}http://schema.org/Article{% endif %}">
    <a href="{{ data.url }}" itemprop="url">
{% if data.img %}
        <figure class="card__figure" itemscope itemtype="http://schema.org/ImageObject">
{% if data.webp %}
            <picture>
                <source type="image/webp" srcset="{{ data.webp }}">
                <img src="{{ data.img }}" alt="{% if data.alt %}{{ data.alt }}{% else %}Read more about {{ data.title }}{% endif  %}">
            </picture>
{% else %}
            <img src="{{ data.img }}" alt="{% if data.alt %}{{ data.alt }}{% else %}Read more about {{ data.title }}{% endif  %}">
{% endif %}
{% if settings.variant == "video" %}
            <span class="u-icon u-icon--circle" style="	position: absolute;
		top: calc(50% - 25px); // calc is used to determine center by subtracting half the height of the icon
		left: calc(50% - 25px); // calc is used to determine center by subtracting half the width of the icon
		width: 50px;
		height: 50px;
		fill: white;">
                {% include '/icons/play.svg' %}
            </span>
{% endif %}
        </figure>
{% endif %}
        <div class="card__body">
{% if settings.variant == "news" %}
            <time class="card__date" datetime="{{ data.date }}" itemprop="datePublished" content="{{ data.date }}">{{ data.date|date("l, F jS") }}</time>
{% endif %}
            <h3 class="card__title" itemprop="{% if settings.variant == "news" %}headline{% else %}name{% endif %}">{% if data.name %}{{ data.name }}{% else %}{{ data.title }}{% endif %}</h3>
{% if data.text %}
            <p class="card__text{% if item.action|length -%} card__text-action{% endif %}" itemprop="description">{{ item.text|length > 105 ? item.text|slice(0, 105) ~ '...' : data.text  }}</p>
{% endif %}
        </div>
    </a>
</article>
{% endmacro %}
