{% macro textimg(data) %}
{% if data.blockHeading %}
<section class="u-block {% if data.blockColor %}u-block--{{ data.blockColor }}{% else %}u-block--white{% endif %}">
    <h2 class="c-heading-{% if data.blockHeadingCenter %} c-heading--center{% endif %}{% if data.subHeading %} c-heading--subheading{% endif %}">{{ data.blockHeading }}</h2>
    {% if data.blockSubheading %}<p>{{ data.blockSubheading }}</p>
{% endif %}
{% else %}
<div class="u-block {% if data.blockColor %}u-block--{{ data.blockColor }}{% else %}u-block--white{% endif %}">
{% endif %}
    <div class="b-textimg{% if data.variant %} b-textimg--imgtext{% endif %}{% if data.modifier %} {{ data.modifier }}{% endif %}">
        <div class="textimg__wrapper">
{% if data.heading %}
            <section>
{% else %}
            <div>
 {% endif %}
{% if data.heading %}
                <{% if data.blockHeading %}h3{% else %}h2{% endif %}>{{ data.heading }}</{% if data.blockHeading %}h3{% else %}h2{% endif %}>
{% endif %}
{% if data.img %}
                <img src="{{ data.img }}" alt="{{ data.imgAlt }}" />
{% endif %}
                <div class="textimg__text">
                    {{ data.text|raw }}
                </div>
 {% if data.heading %}
            </section>
{% else %}
            </div>
{% endif %}
        </div>
    </div>
{% if (data.blockHeading) %}
</section>
{% else %}
</div>
{% endif %}
{% endmacro textimg %}
