{% macro textimg(settings, data, docs) %}
{% if docs.content == 'close' %}
    </div>
    </div>
{% endif %}
<div class="u-block {% if settings.width %}u-block--{{ settings.width }}{% else %}u-block--m{% endif %} {% if settings.color %}u-block--{{ settings.color }}{% else %}u-block--white{% endif %}">
{#<h2>Has heading</h2> TODO ADD CENTER HEADING#}
    <div class="b-textimg{% if settings.variant %} b-textimg--imgtext{% endif %}">
        <div class="b-textimg__wrapper">
            <div class="b-textimg__section">
                <h2 class="b-textimg__heading">{{ data.title }}</h2>
                <img class="b-textimg__img" src="{{ data.img.url }}" alt="{{ data.img.alt }}" />
                <div class="b-textimg__desc">
                    {{ data.content|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
{% if docs.content == 'open' %}
<div class="u-block u-block--s">
    <div class="b-content">
{% endif %}
{% endmacro textimg %}
