{# Masthead block - v3.0.0
{# =====================#}
<div class="b-masthead u-block u-block--full js-sticky-scroll">
	<div>
		<nav aria-label="Site title and subsite navigation" role="navigation">

			<h2 class="masthead__site c-menu-submenu">
				<a href="{{ site.url }}">{% include 'icons/mark-ravens.svg' %}RDS</a>
			</h2>

			<ul class="submenu__menu" aria-label="submenu">
				<li>
					<a href="{{ site.url }}"><svg width="24" height="24" viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M24 13.5L19.5 9V3h-3v3L12 1.5l-12 12h3L4.5 21c0 .825.675 1.5 1.5 1.5h12c.825 0 1.5-.675 1.5-1.5l1.5-7.5h3zM18 21h-4.5v-6h-3v6H6l-1.785-9.465L12 3.75l7.785 7.785L18 21z"  /></svg>
						RDS home
					</a>
				</li>
				<li class="submenu__title">Subsites:</li>
				<li>
					<a href="{{ site.url }}dev/"><svg width="24" height="24" viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M16.286 3.5l-2.572 2.571 6 6-6 6 2.572 2.572L24 12.07 16.286 3.5zm-8.572 0L0 12.071l7.714 8.572 2.572-2.572-6-6 6-6L7.714 3.5z"  /></svg>
						Dev
					</a>
				</li>
				<li>
					<a href="{{ site.url }}design/"><svg width="24" height="24" viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M12.09 3C4.5 3 0 12 0 12s4.5 9 12.09 9C19.5 21 24 12 24 12s-4.5-9-11.91-9zM12 18c-3.3 0-6-2.67-6-6 0-3.3 2.7-6 6-6 3.33 0 6 2.7 6 6 0 3.33-2.67 6-6 6zm3-6c0 1.665-1.335 3-3 3a2.99 2.99 0 0 1-3-3c0-1.665 1.335-3 3-3s3 1.335 3 3z"  /></svg>
						Design
					</a>
				</li>
				<li>
					<a href="{{ site.url }}">content/"><svg width="24" height="24" viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M0 18.658v5.143h5.143l13.714-13.714-5.143-5.143L0 18.658zm5.143 3.429H1.714v-3.429H3.43v1.715h1.714v1.714zM22.8 6.144l-2.229 2.229L15.43 3.23 17.657 1a1.707 1.707 0 0 1 2.417 0L22.8 3.727a1.707 1.707 0 0 1 0 2.417z"  /></svg>
						Content
					</a>
				</li>
				<li>
					<a href="{{ site.url }}a11y/"><svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M16.87 9.645l-3.435.484a4.734 4.734 0 0 0-.024.07c-.122.365.164 2.794.281 3.731l1.294 3.92a.795.795 0 0 1-.567.965.795.795 0 0 1-.966-.567l-1.31-3.983s-.02-.14-.158-.14c-.131 0-.156.141-.156.141l-1.312 4.005a.796.796 0 0 1-.966.568.795.795 0 0 1-.568-.966l1.351-4.156c.128-1.048.368-3.178.255-3.517a4.734 4.734 0 0 0-.024-.071L7.13 9.645a.795.795 0 0 1-.674-.896.795.795 0 0 1 .895-.674l4.047.571.602.001h.602l4.047-.572a.795.795 0 0 1 .895.674.795.795 0 0 1-.674.896zM12 5.079a1.494 1.494 0 1 1 0 2.989 1.494 1.494 0 0 1 0-2.989zm0-2.38A9.3 9.3 0 1 0 12 21.3a9.3 9.3 0 0 0 0-18.6z" fill="#222"/><path d="M12 22.787C6.052 22.787 1.213 17.948 1.213 12S6.052 1.213 12 1.213 22.787 6.052 22.787 12 17.948 22.787 12 22.787zM12 .022C5.385.022.022 5.385.022 12c0 6.615 5.363 11.978 11.978 11.978 6.615 0 11.978-5.363 11.978-11.978C23.978 5.385 18.615.022 12 .022z" fill="#373B3E"/></g></svg>
						Accessibility
					</a>
				</li>
			</ul>
		</nav>
		{% if (page.subsite == 'dev') or (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
		<nav class="masthead__primarynav" aria-label="Subsite title and primary navigation" role="navigation">
			<h2 class="masthead__site">
                {% if page.subsite == 'dev' %}
					<a href="{{ site.url }}dev/">Dev</a>
                {% elseif page.subsite == 'design' %}
					<a href="{{ site.url }}design/">Design</a>
                {% elseif page.subsite == 'content' %}
					<a href="{{ site.url }}content/">Content</a>
                {% elseif page.subsite == 'a11y' %}
					<a href="{{ site.url }}a11y/">Accessibility</a>
                {% endif %}
			</h2>
			<ul role="menu">
                {% if page.subsite == 'dev' %}
				<li class="c-menu-submenu"><a href="#">Docs</a>
					<ul class="submenu__menu" aria-label="submenu">
						<li>
							<a href="/dev/docs/start/">Getting started</a>
						</li>
						<li>
							<a href="/dev/docs/scafolding/">Scafolding</a>
						</li>
						<li>
							<a href="/dev/docs/scafolding/">Blocks & components</a>
						</li>
						<li>
							<a href="/dev/docs/grid/">Grid system</a>
						</li>
						<li>
							<a href="/dev/docs/icons/">Icon system</a>
						</li>
						<li>
							<a href="/dev/docs/icons/">Utility classes</a>
						</li>
						<li>
							<a href="/dev/docs/scafolding/">Guidelines & principles</a>
						</li>
						<li>
							<a href="/dev/docs/scafolding/">The naming of things</a>
						</li>
					</ul>
				</li>
				<li><a href="#">Blocks</a>
				</li>
				<li><a href="#">Components</a></li>
				<li><a href="#">Layouts</a></li>
				<li><a href="#">Themes</a></li>
				<li class="masthead__more"><a href="#">more...</a></li>
                {% elseif (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
				<li>
					<a href="#">Coming soon...</a>
				</li>
				{% endif %}
			</ul>
		</nav>{% endif %}
	</div>
	<nav class="masthead__controls" aria-label="Secondary navigation and controls" role="navigation">
		<ul>
			<li class="c-menu-submenu c-menu-submenu--right">
				<a class="u-icon--txt" href="https://github.com/ravendesignsystem">{% include 'icons/mark-github.svg' %} Github</a>
				<ul class="submenu__menu" aria-label="submenu" aria-expanded="false">
					<li>
						<a href="https://github.com/ravendesignsystem/rds"><svg width="24" height="24" viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M16.286 3.5l-2.572 2.571 6 6-6 6 2.572 2.572L24 12.07 16.286 3.5zm-8.572 0L0 12.071l7.714 8.572 2.572-2.572-6-6 6-6L7.714 3.5z"  /></svg>
							RDS
						</a>
					</li>
					<li>
						<a href="https://github.com/ravendesignsystem/design"><svg width="24" height="24" viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M12.09 3C4.5 3 0 12 0 12s4.5 9 12.09 9C19.5 21 24 12 24 12s-4.5-9-11.91-9zM12 18c-3.3 0-6-2.67-6-6 0-3.3 2.7-6 6-6 3.33 0 6 2.7 6 6 0 3.33-2.67 6-6 6zm3-6c0 1.665-1.335 3-3 3a2.99 2.99 0 0 1-3-3c0-1.665 1.335-3 3-3s3 1.335 3 3z"  /></svg>
							Design
						</a>
					</li>
					<li>
						<a href="https://github.com/ravendesignsystem/content"><svg width="24" height="24" viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M0 18.658v5.143h5.143l13.714-13.714-5.143-5.143L0 18.658zm5.143 3.429H1.714v-3.429H3.43v1.715h1.714v1.714zM22.8 6.144l-2.229 2.229L15.43 3.23 17.657 1a1.707 1.707 0 0 1 2.417 0L22.8 3.727a1.707 1.707 0 0 1 0 2.417z"  /></svg>
							Content
						</a>
					</li>
					<li>
						<a href="https://github.com/ravendesignsystem/accessibility"><svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M16.87 9.645l-3.435.484a4.734 4.734 0 0 0-.024.07c-.122.365.164 2.794.281 3.731l1.294 3.92a.795.795 0 0 1-.567.965.795.795 0 0 1-.966-.567l-1.31-3.983s-.02-.14-.158-.14c-.131 0-.156.141-.156.141l-1.312 4.005a.796.796 0 0 1-.966.568.795.795 0 0 1-.568-.966l1.351-4.156c.128-1.048.368-3.178.255-3.517a4.734 4.734 0 0 0-.024-.071L7.13 9.645a.795.795 0 0 1-.674-.896.795.795 0 0 1 .895-.674l4.047.571.602.001h.602l4.047-.572a.795.795 0 0 1 .895.674.795.795 0 0 1-.674.896zM12 5.079a1.494 1.494 0 1 1 0 2.989 1.494 1.494 0 0 1 0-2.989zm0-2.38A9.3 9.3 0 1 0 12 21.3a9.3 9.3 0 0 0 0-18.6z" fill="#222"/><path d="M12 22.787C6.052 22.787 1.213 17.948 1.213 12S6.052 1.213 12 1.213 22.787 6.052 22.787 12 17.948 22.787 12 22.787zM12 .022C5.385.022.022 5.385.022 12c0 6.615 5.363 11.978 11.978 11.978 6.615 0 11.978-5.363 11.978-11.978C23.978 5.385 18.615.022 12 .022z" fill="#373B3E"/></g></svg>
							Accessibility
						</a>
					</li>
				</ul>
			</li>
			<li>
				<button aria-label="Open Search" class="u-btn-reset">
                    {% include "icons/search.svg" %}
				</button>
			</li>
			<li>
				<button aria-label="Open Menu" class="c-but-hamburger c-but-hamburger--spin" type="button">
                <span class="c-but-hamburger__box">
                    <span class="c-but-hamburger__inner"></span>
                 </span>
				</button>
			</li>
		</ul>
	</nav>
</div>
