<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <meta name="robots" content="noodp, noydir"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>

        <link rel="stylesheet" href="https://cloud.typography.com/6307052/6118752/css/fonts.css" />
        {% block critical %}
            {#Considering load Masthead and Banner CSS here#}
        {% endblock %}
        {# **NOICE! https://www.filamentgroup.com/lab/load-css-simpler/#}
        <link rel="stylesheet" href="{{ site.cssPath }}" media="print" onload="this.media='all'">
        {#<link rel="manifest" href="/manifest.json">#}
        {#<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>#}
        {# <link rel="apple-touch-icon-precomposed" href="http://mysite.com/images/apple-retina.png" sizes="114x114" /> #}
        {# <link rel="apple-touch-icon-precomposed" href="http://mysite.com/images/apple-ipad.png" sizes="72x72" /> #}
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <title>{% block title %}{{ page.title }}{% endblock %} | {{ site.title }} | {{ site.subtitle }}</title>
        {#  If page has a description #}
        {% if page.desc is defined %}
            <meta name="description" content="{{ page.desc }}">
        {% endif %}
        {#  If page has keywords #}
        {% if page.keywords is defined %}
            <meta name="keywords" content="{{ page.keywords }}" />
        {% endif %}
        {#  Facebook Meta Tags #}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title }}">
        {#  If page has a description #}
        {% if page.desc is defined %}
            <meta property="og:description" content="{{ page.desc }}">
        {% endif %}
        {#  If page has an img defined #}
        {% if page.img is defined %}
            <meta property="og:image" content="{{ page.img }}">
        {% endif %}
        {# Twitter Meta Tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ page.title }}">
        {#  If page has a description #}
        {% if page.desc is defined %}
            <meta name="twitter:description" content="{{ page.desc }}">
        {% endif %}
        {#  If page has an img defined #}
        {% if page.img is defined %}
            <meta name="twitter:image" content="{{ page.img }}">
        {% endif %}
    </head>
{% endblock %}

<body>
<a class="u-visually-hidden" href="#content">Skip to main content</a>
<div id="app">
    {% block header %}
        {#<header class="l-header-banner-img">#}
        <header>
            {% include 'docs/blocks/masthead/masthead' %}
            {% if page.banner != 'none' %}
            {% block banner %}
                {% include 'docs/blocks/banner/banner' %}
            {% endblock %}
            {% endif %}
            {#{% include "header/search/search.twig" %}#}
        </header>
    {% endblock %}

    {% block body %}
        {% if (page.menu) or (page.sidebar) %}
        <div class="l-multicol{% if page.sidebar %} l-multicol--ama{% else %} l-multicol--am{% endif %} l-multicol--white{% if 'l' in page.sidebar %} l-multicol--sidebar-large{% endif %} {% if 'top' in page.sidebar %} l-multicol--sidebar-top{% endif %}">
            <div class="multicol__container">

                <aside class="multicol__nav u-sticky">
                    {%include 'docs/inc/menus/menu-' ~ page.menu %}
                </aside>
        {% endif %}
                {% block main %}
                    <main {% if (page.menu) or (page.sidebar) %}class="multicol__main"{% endif %} id="content">

                        <div class="multicol__content">
                            {% if page.content != 'none' %}
                            <div class="u-block u-block--white u-block--s">
                                <div class="b-content">
{#                                    {% set inContent = true %} TODO remove #}
                            {% endif %}


                                    {% block content %}
                                    {% endblock %}

                            {% if page.content != 'none' %}
                                </div>
                            </div>
                            {% endif %}
                            {% if page.title != 'Raven Design System (RDS)' %}
                                <div class="u-block u-block--s u-block--white">
                                    <div class="b-docs-footnote">
                                        <p class="u-v">Using <a href="https://ravendesignsystem.github.io/rds/">Raven Design System</a> (RDS) v</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if page.sidebar %}
                        <aside class="multicol__sidebar">
                            {% set sidebar = true %}
                            {% include 'inc' with {'block': 'sidebar-base'} %}
                        </aside>
                        {% endif %}
                    </main>
                {% endblock %}{# End main#}
        {% if page.menu %}
            </div>
        </div>
        {% endif %}

    {% endblock %} {# END body block #}

    {% block footer %}
        {% set inContent = false %}
        <footer>
            {% include "footerbrand/footerbrand.twig" %}
        </footer>
    {% endblock %} {# END footer block #}

    <dialog class="l-overlay-modal is-hidden">

        <div class="modal__search is-hidden">
            {% include "search/search" %}
        </div>
        <div class="modal__menu is-hidden">
                {% if page.menu != true %}
                {% block menu %}
                    {% include "menu/data/menu.twig" %}
                {% endblock %}
                {% endif %}
        </div>

        {# Good to wrap in an is-logged-in conditional...#}
        <div class="modal__login is-hidden">
            <div class="b-login u-block">
                <h1 class="login__heading">Login to Your App</h1>
                <form class="c-form" name="loginform" action="/" method="post" accept-charset="UTF-8">

                    <label for="user_login">Username or Email</label>
                    <input type="text" id="user_login" name="log" class="login__field" value="" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="autofocus" aria-required="true">

                    <label for="user_pass">Password <a class="login__link" href="/password-reset/">Forgot password?</a></label>
                    <input type="password" name="pwd" id="user_pass" value="" class="form-control form-control input-block" tabindex="2" aria-required="true">

                    <input type="submit" value="Login" tabindex="3" class="u-width-full">
                </form>
                <p class="login__account">Not registered?
                    <a class="u-link" href="/register/">Create an account</a>.
                </p>
            </div>
        </div>

    </dialog>{# END l-overlay #}

</div> {#END APP ID #}
{% block scripts %}
    <script type="text/javascript">
        {# TODO remove the below IE11 polyfills when we ditch IE#}
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
            document.write('<script src="https://unpkg.com/element-closest/browser"><\/script>');
    </script>
    <script src="{{ site.jsPath }}"></script>
{% endblock %}  {#END SCRIPTS #}

</body>
</html>
