<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <meta name="robots" content="noodp, noydir"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>

        <link rel="stylesheet" href="https://cloud.typography.com/6307052/6118752/css/fonts.css" />
        {% block critical %}
            {#Considering loading Masthead and Banner CSS here#}
        {% endblock %}
        {# **NOICE! https://www.filamentgroup.com/lab/load-css-simpler/#}
        <link rel="stylesheet" href="{{ site.cssPath }}" media="print" onload="this.media='all'">
        {#<link rel="manifest" href="/manifest.json">#}
        <link rel="apple-touch-icon" sizes="180x180" href="https://cu-rds.s3.amazonaws.com/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon-16x16.png">
{#        <link rel="manifest" href="https://cu-rds.s3.amazonaws.com/assets/favicons/site.webmanifest">#}
        <link rel="mask-icon" href="https://cu-rds.s3.amazonaws.com/assets/favicons/safari-pinned-tab.svg" color="#767676">
        <link rel="shortcut icon" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#bf112b">
        <meta name="msapplication-config" content="https://cu-rds.s3.amazonaws.com/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}{{ page.title }}{% endblock %} | {{ site.title }} | {{ site.subtitle }}</title>
        {#  If page has a description #}
        {% if page.desc is defined %}
            <meta name="description" content="{{ page.desc }}">
        {% endif %}
        {#  If page has keywords #}
        {% if page.keywords is defined %}
            <meta name="keywords" content="{{ page.keywords }}" />
        {% endif %}
        {#  Facebook Meta Tags #}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title }}">
        {#  If page has a description #}
        {% if page.desc is defined %}
            <meta property="og:description" content="{{ page.desc }}">
        {% endif %}
        {#  If page has an img defined #}
        {% if page.img is defined %}
            <meta property="og:image" content="{{ page.img }}">
        {% endif %}
        {# Twitter Meta Tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ page.title }}">
        {#  If page has a description #}
        {% if page.desc is defined %}
            <meta name="twitter:description" content="{{ page.desc }}">
        {% endif %}
        {#  If page has an img defined #}
        {% if page.img is defined %}
            <meta name="twitter:image" content="{{ page.img }}">
        {% endif %}
    </head>
{% endblock %}

<body {% if page.homepage == true %}class="homepage"{% endif %}>

<a class="u-visually-hidden" href="#content">Skip to main content</a>
<div id="app">
    {% block header %}
        {#<header class="l-header-banner-img">#}
        <header>
            {% include 'masthead/masthead' %}
{#            {% include 'docs/blocks/masthead/masthead' %}#}
            {% if page.alertheader.message %}
            {% include 'docs/blocks/alertheader/alertheader' %}
            {% endif %}
            {% if page.banner != 'none' %}
            {% block banner %}
                {% include 'docs/blocks/banner/banner' %}
            {% endblock %}
            {% endif %}
            {#{% include "header/search/search.twig" %}#}
        </header>
    {% endblock %}

    {% block body %}
        {% if (page.menu) or (page.sidebar) %}
        <div class="l-multicol{% if page.sidebar %} l-multicol--ama{% else %} l-multicol--am{% endif %} l-multicol--white{% if 'l' in page.sidebar %} l-multicol--sidebar-large{% endif %} {% if 'top' in page.sidebar %} l-multicol--sidebar-top{% endif %}">
            <div class="multicol__container">
                <aside class="multicol__nav u-sticky">
                    {%include 'docs/inc/menus/menu-' ~ page.menu %}
                </aside>
        {% endif %}
                {% block main %}
                    <main {% if (page.main == "l") or (page.homepage == true) %}class="l-col-l"{% endif %} {% if (page.menu) or (page.sidebar) %}class="multicol__main"{% endif %} id="content">
                        {% if (page.menu) or (page.sidebar) %}
                        <div class="multicol__content">
                            {% endif %}
                            {% if page.content != 'none' %}
                            <div class="u-block u-block--white">
                                <div class="b-content">
                            {% endif %}
                            {% block content %}
                            {% endblock %}
                                    {% if page.subsite == 'dev' and page.menu != 'dev' %}
                                        <div class="c-alert c-alert--info c-alert--icon u-hide-s">
                                            {% include "icons/info.svg" %}
                                            <h2>Dude, where's my left-side nav?</h2>
                                            <p>To show full width elements on this page, we removed the <-- left-side secondary navigation. In lieu of this, we have added the mobile/hamburger menu (top-right) in the masthead ^ above . </p>
                                        </div>
                                    {% endif %}
                            {% if page.content != 'none' %}
                                </div>
                            </div>
                            {% endif %}
                        {% if (page.menu) or (page.sidebar) %}
                        </div>
                        {% endif %}
                        {% if page.sidebar %}
                        <aside class="multicol__sidebar">
                            {% set sidebar = true %}
                            {% include 'inc' with {'block': 'sidebar-base'} %}
                        </aside>
                        {% endif %}
                    </main>
                {% endblock %}{# End main#}
        {% if page.menu %}
            </div>
        </div>
        {% endif %}

    {% endblock %} {# END body block #}

    {% block footer %}
        {% set inContent = false %}
        <footer>
            {% include "footerbrand/footerbrand.twig" %}
        </footer>
    {% endblock %} {# END footer block #}
{#    <dialog class="l-overlay-modal is-hidden">#}
    <dialog class="l-overlay-modal">
        <div class="modal__search u-visually-hidden">
            {% include "search/search" %}
        </div>
        <div class="modal__menu u-visually-hidden">
                {% block menu %}
                    {% if page.menu != true and page.subsite == 'dev' %}
                        {%include 'docs/inc/menus/menu-dev' %}
                    {% elseif page.menu != true and page.subsite == 'about' %}
{#                        {%include 'docs/inc/menus/menu-about' %}#}
                    {% endif %}
                {% endblock %}
        </div>

        {# Good to wrap in an is-logged-in conditional...#}
        <div class="modal__login u-visually-hidden">
            <div class="b-login u-block">
                <h1 class="login__heading">Login to Your App</h1>
                <form class="c-form" name="loginform" action="/" method="post" accept-charset="UTF-8">

                    <label for="user_login">Username</label>
                    <input type="text" autocomplete="username" id="user_login" name="log" class="login__field" value="" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="autofocus" aria-required="true">

                    <label for="user_pass">Password <a class="login__link" href="/password-reset/">Forgot password?</a></label>
                    <input type="password" autocomplete="current-password" name="pwd" id="user_pass" value="" class="form-control form-control input-block" tabindex="2" aria-required="true">

                    <input type="submit" value="Login" tabindex="3" class="u-width-full">
                </form>
                <p class="login__account">Not registered?
                    <a class="u-link" href="/register/">Create an account</a>.
                </p>
            </div>
        </div>

    </dialog>{# END l-overlay #}

</div> {#END APP ID #}
{% block scripts %}
    <script id="iePolyFills" src=""></script>
    <script src="{{ site.jsPath }}"></script>
{% endblock %}  {#END SCRIPTS #}

</body>
</html>
