<!doctype html>
<html class="no-js" lang="en">
	{% block head %}
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
			<meta name="robots" content="noodp, noydir"/>
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>

			<link rel="stylesheet" href="https://cloud.typography.com/6307052/6118752/css/fonts.css"/>
			{% block critical %}
				{#Considering loading Masthead and Banner CSS here#}
			{% endblock %}
			{# **NOICE! https://www.filamentgroup.com/lab/load-css-simpler/#}
			<link rel="stylesheet" href="{{ site.cssCorePath }}" media="print" onload="this.media='all'">
			<link
			rel="stylesheet" href="{{ site.cssDocsPath }}" media="print" onload="this.media='all'">
			{#<link rel="manifest" href="/manifest.json">#}
			<link rel="apple-touch-icon" sizes="180x180" href="https://cu-rds.s3.amazonaws.com/assets/favicons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon-16x16.png">
			{#        <link rel="manifest" href="https://cu-rds.s3.amazonaws.com/assets/favicons/site.webmanifest">#}
			<link rel="mask-icon" href="https://cu-rds.s3.amazonaws.com/assets/favicons/safari-pinned-tab.svg" color="#767676">
			<link rel="shortcut icon" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon.ico">
			<meta name="msapplication-TileColor" content="#bf112b">
			<meta name="msapplication-config" content="https://cu-rds.s3.amazonaws.com/assets/favicons/browserconfig.xml">
			<meta name="theme-color" content="#ffffff">
			<title>
				{% block title %}
					{{ page.title }}
				{% endblock %}
				|
				{{ site.title }}
				|
				{{ site.subtitle }}</title>
			{#  If page has a description #}
			{% if page.desc is defined %}
				<meta name="description" content="{{ page.desc }}">
			{% endif %}
			{#  If page has keywords #}
			{% if page.keywords is defined %}
				<meta name="keywords" content="{{ page.keywords }}"/>
			{% endif %}
			{#  Facebook Meta Tags #}
			<meta property="og:url" content="{{ site.url }}{{ page.url }}">
			<meta property="og:type" content="website">
			<meta
			property="og:title" content="{{ page.title }}">
			{#  If page has a description #}
			{% if page.desc is defined %}
				<meta property="og:description" content="{{ page.desc }}">
			{% endif %}
			{#  If page has an img defined #}
			{% if page.img is defined %}
				<meta property="og:image" content="{{ page.img }}">
			{% endif %}
			{# Twitter Meta Tags #}
			<meta name="twitter:card" content="summary_large_image">
			<meta
			name="twitter:title" content="{{ page.title }}">
			{#  If page has a description #}
			{% if page.desc is defined %}
				<meta name="twitter:description" content="{{ page.desc }}">
			{% endif %}
			{#  If page has an img defined #}
			{% if page.img is defined %}
				<meta name="twitter:image" content="{{ page.img }}">
			{% endif %}
		</head>
	{% endblock %}

	<body {% if page.homepage == true %} class="homepage" {% endif %}>

		<a class="u-visually-hidden" href="#content">Skip to main content</a>

		{% block header %}
			{#<header class="l-header-banner-img">#}
			<header>
				{% include 'masthead/masthead' %}
				{#            {% include 'docs/blocks/masthead/masthead' %}#}
				{% if page.alertheader.message %}
					{% from "alertheader/alertheader.twig" import alertheader %}
					{{ alertheader (
                {
                    dismissible: page.alertheader.dismissible,
                    heading: page.alertheader.heading,
                    message: page.alertheader.message,
                    url: page.alertheader.url,
                    urlText: page.alertheader.urlText
                }
            ) }}
				{% endif %}
				{% if page.banner != 'none' %}
					{% block banner %}
						{% include 'docs/blocks/banner/banner' %}
					{% endblock %}
				{% endif %}
				{#{% include "header/search/search.twig" %}#}
			</header>
		{% endblock %}

		{% block body %}
		{% if (page.menu) or (page.sidebar) %}

			<div class="l-multicol{% if page.sidebar %} l-multicol--ama{% else %} l-multicol--am{% endif %}{% if 'l' in page.sidebar %} l-multicol--sidebar-large{% endif %} {% if 'top' in page.sidebar %} l-multicol--sidebar-top{% endif %}">
				{% block menu %}
					<aside class="multicol__nav">
						<div class="b-menu b-menu--sidenav u-sticky">
							{% if (page.menu) %}
							{%include 'docs/inc/menus/menu-' ~ page.menu %}
							{% endif %}
						</div>
					</aside>
				{% endblock %}
			{% endif %}
			{% block main %}
				<main {% if (page.main == "l") or (page.homepage == true) %} class="l-col-l" {% endif %} id="content">
					{% if page.content != 'none' %}
						<div class="u-block u-block--white">
							<div class="b-content">
							{% endif %}

							{% block content %}{% endblock %}

							{% if page.subsite == 'dev' and page.menu != 'dev' %}
								<div class="c-alert c-alert--info c-alert--icon u-hide-s">
									{% include "icons/info.svg" %}
									<h2>Dude, where's my left-side nav?</h2>
									<p>To show full width elements on this page, we removed the
										<--<path left-side secondary navigation. in lieu of this, we have added the mobile nav icon menu (top-right) in the masthead ^ above . </p> </div> {% endif %} {% if page.content != 'none' %} </div> </div> {% endif %} </main> {% endblock %} {# End main#} {% if page.sidebar %} {% block sidebar %} <aside class="multicol__sidebar"> {% set sidebar = true %} {% if page.alertSidebar.content %} <div class="u-block u-block--white"> <div class="b-alertaside"> <div class="c-alert c-alert--info" role="alert"> <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> d="M10.8 8.074a1.615 1.615 0 0 1-.48-1.2c0-.48.154-.891.48-1.2.326-.308.72-.48 1.2-.48s.891.155 1.2.48c.309.326.48.72.48 1.2s-.154.892-.48 1.2a1.714 1.714 0 0 1-1.2.515c-.48 0-.891-.189-1.2-.515zm2.914 3.943a1.866 1.866 0 0 0-.531-1.183c-.343-.325-.72-.514-1.183-.531h-1.714c-.463.034-.823.223-1.183.531a1.748 1.748 0 0 0-.532 1.183h1.715v5.143c.034.463.188.857.531 1.183.343.343.72.531 1.183.531h1.714c.463 0 .823-.188 1.183-.531.343-.326.514-.72.532-1.183h-1.715V12v.017zM12 2.263c-5.383 0-9.771 4.354-9.771 9.737S6.617 21.771 12 21.771c5.383 0 9.771-4.371 9.771-9.771S17.383 2.246 12 2.246v.017zM12 0c6.617 0 12 5.383 12 12s-5.383 12-12 12S0 18.651 0 12 5.383 0 12 0z"/>
									</p>
								</svg>
								<h2>{{ page.alertSidebar.heading }}</h2>
								<p>{{ page.alertSidebar.content }}</p>
								<button aria-label="Close alert" type="button" data-close>
									<span class="u-icon" aria-hidden="true">
										<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<title id="title" lang="en">Close alert panel</title><path d="M15.396 12L24 20.604 20.604 24 12 15.396 3.396 24 0 20.604 8.604 12 0 3.396 3.396 0 12 8.604 20.604 0 24 3.396z"/></svg>
									</span>
								</button>
							</div>
						</div>
					</div>
				{% endif %}
				{% if page.sidebar.content %}
					<div class="u-block u-block--white">
						<div class="b-sidebar">
							<h2>{{ page.sidebar.title }}</h2>
							<p>{{page.sidebar.content }}</p>
						</div>
					</div>
				{% endif %}
			</aside>
		{% endblock %}
		{# End sidebar#}
	{% endif %}

	{% if page.menu %}
	</div>
</html></div>{% endif %}{% endblock %}{# END body block #}{% block footer %}{% set inContent = false %}<footer>{% include "footerbrand/footerbrand.twig" %}</footer>{% endblock %}{# END footer block #}{#    <dialog class="l-overlay-modal is-hidden">#}<dialog class="l-overlay-modal" aria-modal="true" aria-hidden="true"><div class="modal__search u-visually-hidden">{% include "search/search" %}</div><div class="modal__menu u-visually-hidden">{#                {% block menu %}#}{#                    {% if page.menu != true and page.subsite == 'dev' %}#}{#                        {%include 'docs/inc/menus/menu-dev' %}#}{#                    {% elseif page.menu != true and page.subsite == 'about' %}#}{#                        {%include 'docs/inc/menus/menu-about' %}#}{#                        {% else %}#}{#                            {%include 'docs/inc/menus/menu' %}#}{#                    {% endif %}#}{#                {% endblock %}#}</div>{# Good to wrap in an is-logged-in conditional...#}<div class="modal__login u-visually-hidden"> <div class="b-login u-block">
<h1 id="aria-dialog-title" class="login__heading">Login to Your App</h1>
<form class="c-form" name="loginform" action="/" method="post" accept-charset="UTF-8">

	<label for="user_login">Username</label>
	<input type="text" autocomplete="username" id="user_login" name="log" class="login__field" value="" autocapitalize="off" autocorrect="off" autofocus="autofocus" aria-required="true">

	<label for="user_pass">Password
		<a class="login__link" href="/password-reset/">Forgot password?</a>
	</label>
	<input type="password" autocomplete="current-password" name="pwd" id="user_pass" value="" class="form-control form-control input-block" aria-required="true">

	<input type="submit" value="Login" class="u-width-full">
</form>
<p class="login__account">Not registered?
	<a class="u-link" href="/register/">Create an account</a>.
</p></div></div></dialog>{# END l-overlay #}{% block scripts %}<script id="iePolyFills" src=""></script><script src="{{ site.jsCorePath }}"></script><script src="{{ site.jsDocsPath }}"></script>{% endblock %}{#END SCRIPTS #}</body></html>
