<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1141425-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-1141425-13');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <meta name="robots" content="noodp, noydir"/>
        <link rel="canonical" href="https://carleton.ca"/>
        <link rel="preload" href="https://cloud.typography.com/6307052/6118752/css/fonts.css" as="style">
        {% block critical %}
        <style>{% include "hp/_css/critical.css" %}</style>
        {% endblock %}
        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>Carleton University - Canada's Capital University</title>
        <meta name="description" content="Canada's Capital University, Carleton University is a dynamic research and teaching institution dedicated to achieving the highest standards of scholarship.">
        {#  If page has keywords #}
        {% if page.keywords is defined %}
            <meta name="keywords" content="{{ page.keywords }}" />
        {% endif %}
        {#  Facebook Meta Tags #}
        <meta property="og:url" content="https://carleton.ca">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Carleton University">
        <meta property="og:description" content="Canada's Capital University, Carleton University is a dynamic research and teaching institution dedicated to achieving the highest standards of scholarship.">
        <meta property="og:image" content="http://cu-rds.s3.amazonaws.com/assets/img/cu-og.jpg">
        {# Twitter Meta Tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Carleton University">
        <meta name="twitter:description" content="Canada's Capital University, Carleton University is a dynamic research and teaching institution dedicated to achieving the highest standards of scholarship.">
        <meta name="twitter:image" content="http://cu-rds.s3.amazonaws.com/assets/img/cu-og.jpg">
    </head>
{% endblock %}

<body>
<a class="u-visually-hidden" href="#content">Skip navigation</a>
<div id="app">
    {% block header %}
        <header role="banner">
            {# Masthead #}
            {% include 'hp/blocks/masthead/masthead' %}
            {# Hero banner #}
            {% include 'hp/blocks/bannerhero/bannerhero' %}
        </header>
    {% endblock %}

    {% block body %}
        {% block main %}
            {% import 'card/card' as card %}
            {#Card values#}
            {% set card1 = {
                img: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/a11y.jpg',
                webp: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/a11y.webp',
                title: 'National AccessAbility Week',
                url: 'https://newsroom.carleton.ca/story/national-accessability-week/'
            }%}
            {% set card2 = {
                img: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/track.jpg',
                webp: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/track.webp',
                url: "https://newsroom.carleton.ca/story/connected-autonomous-vehicle-test-track/?utm_source=HomepageBanner&utm_campaign=May2019",
                title: 'Carleton Helps Launch Unique Test Track',
            }%}
            {% set card3 = {
                img: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/energy.jpg',
                webp: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/energy.webp',
                title: 'New Course in Energy Efficiency Policy',
                url: 'https://newsroom.carleton.ca/story/energy-efficiency-policy/'
            }%}
            {% set card4 = {
                img: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/feedback.jpg',
                webp: 'https://cu-rds.s3.amazonaws.com/hp/assets/img/feedback.webp',
                title: 'Give us Your Feedback on Our New Home Page',
                url: "https://carleton.ca/webservices/new-homepage-2019/"
            }%}
            <main id="content">
                <div class="u-block u-block--grey u-block--l">
                    <h2>Spotlight</h2>
                    <div class="b-cardgrid b-cardgrid--stacks u-grid u-grid--4">
                        {{ card.card(settings, card1) }}
                        {{ card.card(settings, card2) }}
                        {{ card.card(settings, card3) }}
                        {{ card.card(settings, card4) }}
                    </div>
                </div>

                {# Events #}
                {% include 'hp/blocks/events/events' %}

                {% set cardVideoSettings = {
                    variant: 'video'
                }%}
                {% set cardVideo = {
                    img: "https://res.cloudinary.com/cuweb/image/upload/f_auto/v1558642608/cu-homepage/alicia.webp",
                    text: "Find out how Alicia is helping to build a more accessible future through groundbreaking research on the biomechanics of sledge hockey.",
                    title: 'Carleton Stories: Alicia',
                    url: "https://admissions.carleton.ca/videos/alicias-discovery/"
                }%}
                {# Admissions section#}
                {% include 'hp/blocks/gridadm/gridadm' %}
                {# Instagram section#}
                {% include 'hp/blocks/imggrid/imggrid' %}
            </main>
        {% endblock %}
    {% endblock %} {# END body block #}
    {% block footer %}
        <footer>
            {% include "footersitemap/footersitemap" %}
            {% include "footerbrand/footerbrand" %}

        </footer>
    {% endblock %} {# END footer block #}

    <dialog class="l-overlay-modal l-overlay-modal--cu is-hidden">
        <div class="modal__search is-hidden">
            {% include "hp/blocks/search/search" %}
        </div>
        <div class="modal__menu is-hidden">
            {% block menu %}
                {% include "hp/blocks/menu/menu" %}
            {% endblock %}
        </div>

    </dialog>
</div> {#END APP ID #}

{% block scripts %}
    <script type="text/javascript">
        {# TODO remove the below IE11 polyfills when we ditch IE#}
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
            document.write('<script src="https://unpkg.com/element-closest/browser"><\/script>');

        const defFont = document.createElement('link');
        defFont.rel = 'stylesheet';
        defFont.href = 'https://cloud.typography.com/6307052/6118752/css/fonts.css';
        defFont.type = 'text/css';
        const godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(defFont, godefer);

        {# Load deferred CSS #}
        const def = document.createElement('link');
        def.rel = 'stylesheet';
        def.href = '{{ site.homecssPath }}';
        def.type = 'text/css';
        godefer.parentNode.insertBefore(def, godefer);
    </script>
    <script src="{{ site.jsPathHome }}"></script>
    <script>
        {# ONLY LOAD SEARCH AUTOCOMPLETE IF SEARCH BUTTON CLICKED #}
        function loadScript(script_url) {
            let head = document.getElementsByTagName('head')[0];
            let script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = script_url;
            head.appendChild(script);
        }
    </script>
{% endblock %}  {#END SCRIPTS #}
</body>
</html>
