<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <meta name="robots" content="noodp, noydir"/>
{#        <meta http-equiv="x-ua-compatible" content="ie=edge">#}
        <link rel="canonical" href="https://carleton.ca/"/>
        <link rel="stylesheet" href="https://cloud.typography.com/6307052/6118752/css/fonts.css" type="text/css"/>
        {% block critical %}
            <style>{% include "hp/_css/critical.css" %}</style>
        {% endblock %}
        {#TODO look into https://keithclark.co.uk/articles/loading-css-without-blocking-render/#}
        {#<link rel="stylesheet" href="{{ site.homecssPath }}">#}
        {#<noscript><link rel="stylesheet" href="{{ site.url }}/css/app.css"></noscript>#}
        <link rel="manifest" href="http://cu-rds.s3.amazonaws.com/hp/assets/manifest.json">
        <link rel="shortcut icon" href="http://cu-rds.s3.amazonaws.com/hp/assets/favicon.ico" type="image/x-icon"/>
        {# <link rel="apple-touch-icon-precomposed" href="http://mysite.com/images/apple-retina.png" sizes="114x114" /> #}
        {# <link rel="apple-touch-icon-precomposed" href="http://mysite.com/images/apple-ipad.png" sizes="72x72" /> #}
{#        <link rel="apple-touch-icon" href="apple-touch-icon.png">#}
        <title>Carleton University - Canada's Capital University</title>
        <meta name="description" content="Canada's Capital University, Carleton University is a dynamic research and teaching institution dedicated to achieving the highest standards of scholarship.">
        {#  If page has keywords #}
        {% if page.keywords is defined %}
            <meta name="keywords" content="{{ page.keywords }}" />
        {% endif %}
        {#  Facebook Meta Tags #}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title }}">
        {#  If page has a description #}
        <meta property="og:description" content="Canada's Capital University, Carleton University is a dynamic research and teaching institution dedicated to achieving the highest standards of scholarship.">
        {#  If page has an img defined #}
        {% if page.img is defined %}
            <meta property="og:image" content="{{ page.img }}">
        {% endif %}
        {# Twitter Meta Tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ page.title }}">
        {#  If page has a description #}
        {% if page.desc is defined %}
            <meta name="twitter:description" content="{{ page.desc }}">
        {% endif %}
        {#  If page has an img defined #}
        {% if page.img is defined %}
            <meta name="twitter:image" content="{{ page.img }}">
        {% endif %}
    </head>
{% endblock %}

<body>
<a class="u-visually-hidden" href="#content">Skip to main content</a>
<div id="app">
    {% block header %}
        <header role="banner">
            {# Masthead #}
            {% include 'hp/blocks/masthead/masthead' %}
            {# Hero banner #}
            {% include 'hp/blocks/bannerhero/bannerhero' %}
        </header>
    {% endblock %}

    {% block body %}
        {% block main %}
            {% import 'card/card' as card %}
            {#Card values#}
            {% set card1 = {
                img: "https://res.cloudinary.com/cuweb/image/upload/f_auto/v1554307088/cu-homepage/research.webp",
                title: 'Carleton research leading in accessibility and inclusion',
                url: "https://newsroom.carleton.ca/story/carleton-leads-in-accessibility/"
            }%}
            {% set card2 = {
                img: "https://res.cloudinary.com/cuweb/image/upload/f_auto/v1554307088/cu-homepage/indiginous.webp",
                title: 'Carmen Robertson explores Indigenous art and activism',
                url: "https://newsroom.carleton.ca/story/indigenous-art-identity/"
            }%}
            {% set card3 = {
                img: "https://res.cloudinary.com/cuweb/image/upload/f_auto/v1558494103/cu-homepage/track.webp",
                title: 'Carleton Helps Launch Unique Test Track',
                url: "https://newsroom.carleton.ca/story/connected-autonomous-vehicle-test-track/?utm_source=HomepageBanner&utm_campaign=May2019"
            }%}
            {% set card4 = {
                img: "https://res.cloudinary.com/cuweb/image/upload/f_auto/v1558493168/cu-homepage/energy.webp",
                title: 'New course in energy efficiency policy',
                url: "https://newsroom.carleton.ca/story/energy-efficiency-policy/"
            }%}
            <main id="content">
                <div class="u-block u-block--grey u-block--m">
                    <h2>Spotlight on</h2>
                    <div class="b-cardgrid b-cardgrid--stacks u-grid u-grid--4">
                        {{ card.card(settings, card1) }}
                        {{ card.card(settings, card2) }}
                        {{ card.card(settings, card3) }}
                        {{ card.card(settings, card4) }}
                    </div>
                </div>

                <section class="u-block u-block--m u-block--grey">
                    <h2>Events</h2>
                    <div class="u-grid u-grid--2 u-grid--gap-l u-grid--s1">
                        <div class="b-listing">
                            <ul class="listing__list listing__list--events" itemscope="" itemtype="http://schema.org/Event">
                                <li itemprop="item">
                                    <a href="#eventurl" itemprop="url">
                                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                                            jun<br>
                                            <span class="listing__event-day">10</span>
                                        </time>
{#                                        <div class="listing__event-time">#}
{#                                            <h3 class="listing__title">05:30 pm</h3>#}
{#                                            <p class="listing__excerpt">07:00 pm</p>#}
{#                                        </div>#}
                                        <div class="listing__body">
                                            <h3 class="listing__title" itemprop="name">Katherine Graham Lecture</h3>
                                            <p class="listing__excerpt" itemprop="description">Richcraft Hall</p>
                                        </div>
                                    </a>
                                </li>
                                <li itemprop="item">
                                    <a href="https://newsroom.carleton.ca/story/climate-change-warriors/?utm_source=Homepage&utm_campaign=May2019" itemprop="url">
                                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                                            Apr<br>
                                            <span class="listing__event-day">24</span>
                                        </time>
{#                                        <div class="listing__event-time">#}
{#                                            <h3 class="listing__title">08:00 am</h3>#}
{#                                            <p class="listing__excerpt">09:00 pm</p>#}
{#                                        </div>#}
                                        <div class="listing__body">
                                            <h3 class="listing__title" itemprop="name">QES Talk – Climate Change Conversation</h3>
                                            <p class="listing__excerpt" itemprop="description">Event location</p>
                                        </div>
                                    </a>
                                </li>
                                <li itemprop="item">
                                    <a href="https://shesflyaerospace.ca" itemprop="url">
                                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                                            Jul<br>
                                            <span class="listing__event-day">2</span>
                                        </time>
{#                                        <div class="listing__event-time">#}
{#                                            <h3 class="listing__title">Starting</h3>#}
{#                                            <p class="listing__excerpt">July 2</p>#}
{#                                        </div>#}
                                        <div class="listing__body">
                                            <h3 class="listing__title" itemprop="name">She's Fly - New Aerospace camps for girls </h3>
                                            <p class="listing__excerpt" itemprop="description">Event location</p>
                                        </div>
                                    </a>
                                </li>
                                <li itemprop="item">
                                    <a href="#eventurl" itemprop="url">
                                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                                            July<br>
                                            <span class="listing__event-day">17</span>
                                        </time>
{#                                        <div class="listing__event-time">#}
{#                                            <h3 class="listing__title">09:00 am</h3>#}
{#                                            <p class="listing__excerpt"></p>#}
{#                                        </div>#}
                                        <div class="listing__body">
                                            <h3 class="listing__title" itemprop="name">New homepage launch</h3>
                                            <p class="listing__excerpt" itemprop="description">Carleton.ca</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <p style="margin-top: 16px;"><a class="u-link" href="https://events.carleton.ca">Events Calendar</a></p>
                        </div>
                        <article class="c-card" itemscope="" itemtype="http://schema.org/Article">
                            <a href="https://carleton.ca/convocation/" itemprop="url">
                                <figure class="card__figure" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <img src="https://res.cloudinary.com/cuweb/image/upload/f_auto/v1557955266/cu-homepage/featured_event.webp" alt="Raven standing">
                                </figure>
                                <div class="card__body">
                                    <time class="card__date" datetime="2018-03-11" itemprop="datePublished" content="2018-03-11">June 10-14, 2019</time>
                                    <h3 class="card__title" itemprop="name">Join us for convocation, June 10-14, as we confer degrees on students, recognize honorary degree recipients and award medals and prizes.</h3>
                                </div>
                            </a>
                        </article>
                    </div>
                </section>

                {% set cardVideoSettings = {
                    utility: 'u-hide-s',
                    variant: 'video'
                }%}
                {% set cardVideo = {
                    img: "https://res.cloudinary.com/cuweb/image/upload/f_auto/v1558013816/cu-homepage/vid2.webp",
                    text: "Kajal discusses how Carleton University allows you the opportunity to study what you love.",
                    title: 'Carleton Stories: Kajal',
                    url: "https://admissions.carleton.ca/videos/carleton-stories-kajal/"
                }%}
                {# Admissions section#}
                {% include 'hp/blocks/gridadm/gridadm' %}
                {# Instagram section#}
                {% include 'hp/blocks/imggrid/imggrid' %}

            </main>
        {% endblock %}
    {% endblock %} {# END body block #}
    {% block footer %}
        <footer>
            {% include "footersitemap/footersitemap" %}
            {% include "footerbrand/footerbrand" %}
        </footer>
    {% endblock %} {# END footer block #}

    <div class="l-overlay-modal l-overlay-modal--cu is-hidden">
        <div class="modal__search is-hidden">
            {% include "hp/blocks/search/search" %}
        </div>
        <div class="modal__menu is-hidden">
            {% block menu %}
                {% include "hp/blocks/menu/menu" %}
            {% endblock %}
        </div>

    </div>
</div> {#END APP ID #}

{% block scripts %}
    <script type="text/javascript">
        {# TODO remove the below IE11 polyfills when we ditch IE#}
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
            document.write('<script src="https://unpkg.com/element-closest/browser"><\/script>');

        {# Load deferred CSS #}
        const def = document.createElement('link');
        def.rel = 'stylesheet';
        def.href = '{{ site.homecssPath }}';
        def.type = 'text/css';
        const godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(def, godefer);
    </script>
    <script src="{{ site.jsPathHome }}"></script>
    <script>
        {# ONLY LOAD SEARCH AUTOCOMPLETE IF SEARCH BUTTON CLICKED #}
        function loadScript(script_url) {
            let head = document.getElementsByTagName('head')[0];
            let script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = script_url;
            head.appendChild(script);
        }
    </script>
{% endblock %}  {#END SCRIPTS #}
</body>
</html>
