<h3>Header blocks</h3><ul>
    {% for item in site.blocks %}
        {% if item.section == 'header' %}
            <li><a href="{{ site.url }}dev/blocks/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h3>Main blocks</h3><ul>
    {% for item in site.blocks %}
        {% if item.section == 'main' %}{{ item[0] }}
            <li><a href="{{ site.url }}dev/blocks/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h3>Footer blocks</h3><ul>
    {% for item in site.blocks %}
        {% if item.section == 'footer' %}
            <li><a href="{{ site.url }}dev/blocks/{{ item.section }}/{{ item.handle }}/">{{ item.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
