<ul>
    <li>Header blocks
        <ul>
            <li><a href="{{ site.url }}dev/blocks/header/banner/">Banner</a></li>
            <li><a href="{{ site.url }}dev/blocks/header/globalnav/">Global Nav</a></li>
            <li><a href="{{ site.url }}dev/blocks/header/masthead/">Masthead</a></li>
            <li><a href="{{ site.url }}dev/blocks/header/search/">Search</a></li>
        </ul></li>
    <li>Main blocks

        <ul>
            <li><a href="{{ site.url }}dev/blocks/main/content/">Content block</a></li>
            <li><a href="{{ site.url }}dev/blocks/main/grid/">Grid block</a></li>
            <li><a href="{{ site.url }}dev/blocks/main/listing/">Listing block</a></li>
        </ul></li>
    <li>Footer blocks

        <ul>
            <li><a href="{{ site.url }}dev/blocks/footer/brand/">Footer brand block</a></li>
            <li><a href="{{ site.url }}dev/blocks/footer/simple/">Simple Footer block</a></li>
            <li><a href="{{ site.url }}dev/blocks/footer/sitemap/">Sitemap Footer block</a></li>
        </ul>
    </li>
</ul>
