{# Masthead block - v3.0.0
{# =====================#}
<div class="u-block u-block--full">
	<div class="b-masthead js-sticky-scroll">
		<div>
			<nav aria-label="Site title and subsite navigation" role="navigation">

				<h2 class="masthead__site c-menupopup">
					<a href="#">{% include 'icons/mark-ravens.svg' %}RDS</a>
				</h2>

				<ul class="menupopup__menu" aria-label="menupopup">
					<li>
						<a class="u-icon" href="{{ site.url }}">{% include 'icons/home.svg' %}
							RDS home
						</a>
					</li>
					<li class="menupopup__title">Subsites:</li>
					<li>
						<a class="u-icon" href="{{ site.url }}dev/">{% include 'icons/code.svg' %}
							Dev
						</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}design/">{% include 'icons/eye.svg' %}
							Design
						</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}content/">{% include 'icons/pencil.svg' %}
							Content
						</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}a11y/">{% include 'icons/accessibility.svg' %}
							Accessibility
						</a>
					</li>
				</ul>
			</nav>
			{% if (page.subsite == 'dev') or (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
			<nav class="masthead__primarynav" aria-label="Subsite title and primary navigation" role="navigation">
				<h2 class="masthead__site">
					{% if page.subsite == 'dev' %}
						<a href="{{ site.url }}dev/">Dev</a>
					{% elseif page.subsite == 'design' %}
						<a href="{{ site.url }}design/">Design</a>
					{% elseif page.subsite == 'content' %}
						<a href="{{ site.url }}content/">Content</a>
					{% elseif page.subsite == 'a11y' %}
						<a href="{{ site.url }}a11y/">Accessibility</a>
					{% endif %}
				</h2>
				<ul role="menu">
					{% if page.subsite == 'dev' %}
					<li class="c-menupopup"><a href="#">RDS, the system</a>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li>
								<a href="{{ site.url }}dev/docs/getting-started/">Getting started</a>
							</li>
							<li>
								<a href="{{ site.url }}dev/docs/understanding-the-system/">Understanding the system</a>
							</li>
							<li>
								<a href="{{ site.url }}dev/docs/developing-with-rds/">Integrating RDS</a>
							</li>
							<li>
								<a href="{{ site.url }}dev/docs/developing-with-rds/">Custom theme development</a>
							</li>
							<li>
								<a href="{{ site.url }}dev/docs/guidelines-and-principles/">Guidelines and principles</a>
							</li>
							<li>
								<a href="{{ site.url }}dev/docs/references/">References and tools</a>
							</li>
						</ul>
					</li>
					<li><button class="c-menupopup" aria-label="Open Menu">A button</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li>
								<a href="{{ site.url }}dev/docs/getting-started/">Getting started</a>
							</li>
							<li>
								<a href="{{ site.url }}dev/docs/understanding-the-system/">Understanding the system</a>
							</li>
						</ul>
					</li>
					<li><a href="{{ site.url }}dev/blocks/">Blocks</a></li>
					<li><a href="{{ site.url }}dev/components/">Components</a></li>
					<li><a href="{{ site.url }}dev/themes/">Themes</a></li>

					<li class="masthead__more"><a href="#">more...</a></li>
					{% elseif (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
					<li>
						<a href="#">Coming soon...</a>
					</li>
					{% endif %}
				</ul>
			</nav>{% endif %}
		</div>
		<nav class="masthead__controls" aria-label="Secondary navigation and controls" role="navigation">
			<ul>
				<li class="masthead__cta c-menupopup c-menupopup--right">
					<a class="u-icon" href="https://github.com/ravendesignsystem">{% include 'icons/mark-github.svg' %} Github</a>
					<ul class="menupopup__menu" aria-label="menupopup" aria-expanded="false">
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/">{% include 'icons/code.svg' %}
								Releases
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/rds">{% include 'icons/code.svg' %}
								RDS
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/design">{% include 'icons/eye.svg' %}
								Design
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/content">{% include 'icons/pencil.svg' %}
								Content
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/accessibility">{% include 'icons/accessibility.svg' %}
								Accessibility
							</a>
						</li>
					</ul>
				</li>
				<li class="masthead__login">
					<button class="u-icon u-btn-reset">{% include 'icons/lock.svg' %}<span class="u-hide-s">Login</span></button>
				</li>
				<li class="masthead__search">
					<button aria-label="Open Search" class="masthead__search-btn u-btn-reset u-icon">
						{% include "icons/search.svg" %} <span class="u-hide-s">Search</span>
					</button>
				</li>
				<li class="masthead__hamburger">
					<button aria-label="Open Menu" class="c-hamburger c-hamburger--spin" type="button">
					<span class="c-hamburger__box">
						<span class="c-hamburger__inner"></span>
					 </span>
					</button>
				</li>
			</ul>
		</nav>
	</div>
</div>
