{# Masthead block - v3.0.0
{# =====================#}
<div class="u-block u-block--full">
	<div class="b-masthead js-sticky-scroll">
		<div>
			<nav aria-label="Site title and subsite navigation">
				<h2 class="masthead__site c-menupopup">
					<a href="#">{% include 'icons/mark-cushield.svg' %}RDS</a>
				</h2>
				<ul class="menupopup__menu" aria-label="menupopup">
					<li>
						<a class="u-icon" href="{{ site.url }}">{% include 'icons/home.svg' %}
							RDS home
						</a>
					</li>
					<li class="menupopup__title">Subsites:</li>
					<li>
						<a class="u-icon" href="{{ site.url }}dev/">{% include 'icons/code.svg' %}
							Dev
						</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}design/">{% include 'icons/eye.svg' %}
							Design
						</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}content/">{% include 'icons/pencil.svg' %}
							Content
						</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}a11y/">{% include 'icons/accessibility.svg' %}
							Accessibility
						</a>
					</li>
				</ul>
			</nav>
			{% if (page.subsite == 'dev') or (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
			<nav class="masthead__primarynav" aria-label="Subsite title and primary navigation">
				<h2 class="masthead__site">
					{% if page.subsite == 'dev' %}
						<a href="{{ site.url }}dev/">Dev</a>
					{% elseif page.subsite == 'design' %}
						<a href="{{ site.url }}design/">Design</a>
					{% elseif page.subsite == 'content' %}
						<a href="{{ site.url }}content/">Content</a>
					{% elseif page.subsite == 'a11y' %}
						<a href="{{ site.url }}a11y/">Accessibility</a>
					{% endif %}
				</h2>
				<ul role="menu">
					{% if page.subsite == 'dev' %}
					<li class="c-menupopup">
						<button class="c-menupopup" aria-label="Open Menu">About RDS</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/docs/about-rds/overview/introduction">An Introduction to RDS</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/overview/key-concepts">Key Concepts of RDS</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/overview/getting-started">Getting Started</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/guidelines/design-coding-guidelines">Design Principles and Coding Standards</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/guidelines/accessibility">Accessibility</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/guidelines/security">Security</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/blocks-grids-layouts/working-with-blocks">Working with Blocks</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/blocks-grids-layouts/working-with-grids">Working with Grids</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/blocks-grids-layouts/working-with-layouts">Working with Layouts</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/blocks-components/about-components">About Components</a></li>
							<li><a href="{{ site.url }}dev/docs/about-rds/blocks-components/icon-system">Icon System</a></li>
						</ul>
					</li>
					<li>
						<button class="c-menupopup" aria-label="Open Menu">Blocks</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/docs/blocks/header/banner/">Header: Banner</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/header/globalnav/">Header: Global Nav</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/header/login/">Header: Login</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/header/masthead/">Header: Masthead</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/header/search/">Header: Search</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/main/cardgrid/">Main: Card Grid</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/main/content/">Main: Content</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/main/listing/">Main: Listing</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/main/textimg/">Main: Text-Image</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/footer/footerbrand">Footer: Brand</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/footer/footersimple">Footer: Simple</a></li>
							<li><a href="{{ site.url }}dev/docs/blocks/footer/footersitemap">Footer: Sitemap</a></li>
						</ul>
					</li>
					<li>
						<button class="c-menupopup" aria-label="Open Menu">Components</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/docs/components/alert/badge/">Alert: Badge</a></li>
							<li><a href="{{ site.url }}dev/docs/components/buttons/cta-button/">Button: Call to Action</a></li>
							<li><a href="{{ site.url }}dev/docs/components/buttons/social-button/">Button: Social Buttons</a></li>
							<li><a href="{{ site.url }}dev/docs/components/cards/card/">Cards: Card with Varients</a></li>
							<li><a href="{{ site.url }}dev/docs/components/content/accordion/">Content: Accordion</a></li>
							<li><a href="{{ site.url }}dev/docs/components/content/imagecaption/">Content: Image Caption</a></li>
							<li><a href="{{ site.url }}dev/docs/components/content/table/">Content: Table</a></li>
							<li><a href="{{ site.url }}dev/docs/components/content/video/">Content: Video</a></li>
							<li><a href="{{ site.url }}dev/docs/components/forms/form/">Forms: Form</a></li>
							<li><a href="{{ site.url }}dev/docs/components/forms/search/">Forms: Search</a></li>
							<li><a href="{{ site.url }}dev/docs/components/icons/">Icons: Icon System</a></li>
							<li><a href="{{ site.url }}dev/docs/components/logos/carleton/">Logos: Carleton University</a></li>
							<li><a href="{{ site.url }}dev/docs/components/logos/ravens">Logos: Ravens Athletics</a></li>
							<li><a href="{{ site.url }}dev/docs/components/nav/submenu">Nav: Submenu</a></li>
						</ul>
					</li>
					<li>
						<button class="c-menupopup" aria-label="Open Menu">Layouts</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/docs/layouts/overlay/">Overlay</a></li>
							<li><a href="{{ site.url }}dev/docs/layouts/aside-main/">Aside + Main</a></li>
							<li><a href="{{ site.url }}dev/docs/layouts/main-aside/">Main + Aside</a></li>
							<li><a href="{{ site.url }}dev/docs/layouts/aside-main-aside/">Aside + Main + Aside</a></li>
						</ul>
					</li>
					<li>
						<button class="c-menupopup" aria-label="Open Menu">Custom Dev</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/docs/custom-dev/#">Coming Soon...</a></li>
						</ul>
					</li>

					<li class="masthead__more"><a href="#">more...</a></li>
					{% elseif (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
					<li>
						<a href="#">Coming soon...</a>
					</li>
					{% endif %}
				</ul>
			</nav>{% endif %}
		</div>
		<nav class="masthead__controls" aria-label="Secondary navigation and controls">
			<ul>
				<li class="c-menupopup c-menupopup--right">
					<a class="u-icon" href="https://github.com/ravendesignsystem">{% include 'icons/mark-github.svg' %} <span>Github</span></a>
					<ul class="menupopup__menu" aria-label="menupopup" aria-expanded="false">
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/">{% include 'icons/code.svg' %}
								Releases
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/rds">{% include 'icons/code.svg' %}
								RDS
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/design">{% include 'icons/eye.svg' %}
								Design
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/content">{% include 'icons/pencil.svg' %}
								Content
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/accessibility">{% include 'icons/accessibility.svg' %}
								Accessibility
							</a>
						</li>
					</ul>
				</li>
				<li class="masthead__search">
					<button aria-label="Open Search" class="masthead__search-btn u-icon">
						{% include "icons/search.svg" %} <span class="u-hide-s">Search</span>
					</button>
				</li>
				<li class="masthead__hamburger">
					<button aria-label="Open Menu" class="c-hamburger c-hamburger--spin" type="button">
						<span class="c-hamburger__box">
							<span class="c-hamburger__inner"></span>
					 	</span>
					</button>
				</li>
			</ul>
		</nav>
	</div>
</div>
