{# Masthead block - v3.0.0
{# =====================#}
<div class="u-block u-block--full">
	<div class="b-masthead js-sticky-scroll">
		<div>
			<nav aria-label="Site title and subsite navigation">
				<h2 class="masthead__site c-menupopup">
					<a href="#">{% include 'icons/mark-cushield.svg' %}RDS</a>
				</h2>
				<ul class="menupopup__menu" aria-label="menupopup">
					<li>
						<a class="u-icon" href="{{ site.url }}">{% include 'icons/home.svg' %}RDS home</a>
					</li>
					<li class="menupopup__title">Subsites:</li>
					<li>
						<a class="u-icon" href="{{ site.url }}dev/">{% include 'icons/code.svg' %}Dev</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}design/">{% include 'icons/eye.svg' %}Design</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}content/">{% include 'icons/pencil.svg' %}Content</a>
					</li>
					<li>
						<a class="u-icon" href="{{ site.url }}a11y/">{% include 'icons/accessibility.svg' %}Accessibility</a>
					</li>
				</ul>
			</nav>
			{% if (page.subsite == 'dev') or (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
			<nav class="masthead__primarynav" aria-label="Subsite title and primary navigation">
				<h2 class="masthead__site">
					{% if page.subsite == 'dev' %}
						<a href="{{ site.url }}dev/">Dev</a>
					{% elseif page.subsite == 'design' %}
						<a href="{{ site.url }}design/">Design</a>
					{% elseif page.subsite == 'content' %}
						<a href="{{ site.url }}content/">Content</a>
					{% elseif page.subsite == 'a11y' %}
						<a href="{{ site.url }}a11y/">Accessibility</a>
					{% endif %}
				</h2>
				<ul role="menu">
					{% if page.subsite == 'dev' %}
					<li class="c-menupopup">
						<button class="c-menupopup" aria-label="Open Menu">Getting started</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/getting-started/get-started/">Get started</a></li>
							<li><a href="{{ site.url }}dev/getting-started/quick-start/">Quick start</a></li>
							<li><a href="{{ site.url }}dev/getting-started/quick-start/">Starter packages</a></li>
							<li><a href="{{ site.url }}dev/getting-started/quick-start/">Recipes and patterns</a></li>
						</ul>
					</li>
					<li class="c-menupopup">
						<button class="c-menupopup" aria-label="Open Menu">Main concepts</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/main-concepts/">Main Concepts - start here</a></li>
							<li><a href="{{ site.url }}dev/main-concepts/blocks-in-depth/">Blocks in depth</a></li>
							<li><a href="{{ site.url }}dev/main-concepts/blocks-in-depth/">Components</a></li>
							<li><a href="{{ site.url }}dev/main-concepts/blocks-in-depth/">Layouts</a></li>
							<li><a href="{{ site.url }}dev/main-concepts/blocks-in-depth/">Themes</a></li>
							<li><a href="{{ site.url }}dev/main-concepts/blocks-in-depth/">Spacing</a></li>
						</ul>
					</li>
					<li>
						<button class="c-menupopup" aria-label="Open Menu">Blocks & Components</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/blocks/">Blocks</a></li>
							<li><a href="{{ site.url }}dev/blocks/components/">Components</a></li>
							<li><a href="{{ site.url }}dev/blocks/kitchen-sink/">Kitchen sink</a></li>
						</ul>
					</li>
					<li class="c-menupopup">
						<button class="c-menupopup" aria-label="Open Menu">Custom theming</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/docs/custom-theming/overview/introduction">Introduction</a></li>
							<li><a href="{{ site.url }}dev/docs/custom-theming/">Installing RDS</a></li>
							<li><a href="{{ site.url }}dev/docs/custom-theming/">SASS & Breakpoints</a></li>
							<li><a href="{{ site.url }}dev/docs/custom-theming/">Creating custom blocks</a></li>
							<li><a href="{{ site.url }}dev/docs/custom-theming/">Icon system</a></li>
							<li><a href="{{ site.url }}dev/docs/custom-theming/">Layouts</a></li>
							<li><a href="{{ site.url }}dev/docs/custom-theming/">Grid system</a></li>
						</ul>
					</li>
					<li>
						<button class="c-menupopup" aria-label="Open Menu">Guidelines</button>
						<ul class="menupopup__menu" aria-label="menupopup">
							<li><a href="{{ site.url }}dev/docs/guidelines/">Principles & standards</a></li>
							<li><a href="{{ site.url }}dev/docs/guidelines/">Naming of things</a></li>
							<li><a href="{{ site.url }}dev/docs/guidelines/">SASS</a></li>
							<li><a href="{{ site.url }}dev/docs/guidelines/">Markup and style</a></li>
							<li><a href="{{ site.url }}dev/docs/guidelines/">Accessibility</a></li>
							<li><a href="{{ site.url }}dev/docs/guidelines/">Security</a></li>
							<li><a href="{{ site.url }}dev/docs/guidelines/">Glossary</a></li>
						</ul>
					</li>
					<li class="masthead__more"><a href="#">more...</a></li>
					{% elseif (page.subsite == 'design') or (page.subsite == 'content') or (page.subsite == 'a11y') %}
					<li>
						<a href="#">Coming soon...</a>
					</li>
					{% endif %}
				</ul>
			</nav>{% endif %}
		</div>
		<nav class="masthead__controls" aria-label="Secondary navigation and controls">
			<ul>
				<li class="c-menupopup c-menupopup--right">
					<a class="u-icon" href="https://github.com/ravendesignsystem">{% include 'icons/mark-github.svg' %} Github</a>
					<ul class="menupopup__menu" aria-label="menupopup" aria-expanded="false">
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/">{% include 'icons/code.svg' %}
								Releases
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/rds">{% include 'icons/code.svg' %}
								RDS
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/design">{% include 'icons/eye.svg' %}
								Design
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/content">{% include 'icons/pencil.svg' %}
								Content
							</a>
						</li>
						<li>
							<a class="u-icon" href="https://github.com/ravendesignsystem/accessibility">{% include 'icons/accessibility.svg' %}
								Accessibility
							</a>
						</li>
					</ul>
				</li>
				<li class="masthead__search">
					<button aria-label="Open Search" class="masthead__search-btn u-icon">
						{% include "icons/search.svg" %} <span class="u-hide-s">Search</span>
					</button>
				</li>
				<li class="masthead__hamburger">
					<button aria-label="Open Menu" class="c-hamburger c-hamburger--spin" type="button">
						<span class="c-hamburger__box">
							<span class="c-hamburger__inner"></span>
					 	</span>
					</button>
				</li>
			</ul>
		</nav>
	</div>
</div>
