{% macro footersimple(settings, fields) %}
<div class="u-block u-block--black">
    <div class="b-footersimple">
        <div itemscope itemtype="http://schema.org/Organization">
            <address class="h-card">
{% if fields.address %}
                <p class="p-adr">
                    <a class="p-name u-url" href="{{ site.url }}">{{ fields.address.name }}</a><br>
{% if fields.address %}
                    <a class="p-name u-url" itemprop="name" href="https://carleton.ca">Carleton University</a><br>
{% endif %}
{% if fields.address.building %}
                    <span class="p-extended-address" itemprop="name">{% if fields.address.number|length %}{{ fields.address.number }} {% endif %}<a href="#">{{ fields.address.building }}</a></span><br>
                    <span class="p-street-address" itemprop="streetAddress">1125 Colonel By Drive</span><br>
                    <span class="p-locality" itemprop="addressLocality">Ottawa, </span>
                    <span class="p-region" itemprop="addressRegion">ON, </span>
                    <span class="p-postal-code" itemprop="postalCode">K1S 5B6</span><br>
                    <span class="p-country-name">Canada</span><br>
                    <span><a href="#">View Map</a></span>
{% else %}
{% if fields.address.buildingOff %}
                    <span class="p-extended-address" itemprop="name">{% if fields.address.number|length %}{{ fields.address.number }} {% endif %}<a href="#">{{ fields.address.buildingOff }}</a></span><br>
{% endif %}
{% if fields.address.street %}
                    <span class="p-street-address" itemprop="streetAddress">{{ fields.address.street }}</span><br>
{% endif %}
{% if fields.address.city %}
                    <span class="p-locality" itemprop="addressLocality">{{ fields.address.city }}, </span>
{% endif %}
{% if fields.address.province %}
                    <span class="p-region" itemprop="addressRegion">{{ fields.address.province }}, </span>
{% endif %}
{% if fields.address.postal %}
                    <span class="p-postal-code" itemprop="postalCode">{{ fields.address.postal }}</span><br>
{% endif %}
{% if fields.address.country %}
                    <span class="p-country-name" itemprop="country">{{ fields.address.country }}</span><br>
{% endif %}
{% endif %}
                </p>
{% endif %}
{% if fields.contact %}
                <p>
{% if fields.contact.email %}
                    <span class="u-email" itemprop="email"><a href="mailto:history@carleton.ca">{{ fields.contact.email }}</a></span><br>
{% endif %}
{% if fields.contact.phone %}
                    <span class="p-tel" itemprop="telephone">Phone: <a href="tel:+1-613-520-2600">{{ fields.contact.phone }}</a></span><br>
{% endif %}
{% if fields.contact.fax %}
                    <span class="p-tel-fax" itemprop="faxNumber">Fax: {{ fields.contact.fax }}</span><br>
{% endif %}
{% if fields.contact.contactPage %}
                    <span itemprop="url"><a href="{{ fields.contact.contactPage }}">Contact page</a></span><br>
{% endif %}
                </p>
{% endif %}
{% if fields.hours %}
                <p itemprop="hoursAvailable">
                <strong>Hours</strong><br>
                <span>{{ fields.hours.dayFrom }}-{{ fields.hours.dayUntil }},</span>
                <time datetime="08:30">{{ fields.hours.timeFrom }}</time>-<time datetime="16:30">{{ fields.hours.timeUntil }}</time>
                </p>
{% endif %}
{% if fields.social %}
                <ul class="footersimple__social">
{% if fields.social.instagram %}
                    <li><a class="c-buttonsocial c-buttonsocial--instagram u-icon u-icon--circle" href="https://www.instagram.com/carleton_u">{{ source('icons/instagram.svg') }}<span class="u-visually-hidden">Follow us on Instagram</span></a></li>
{% endif %}
{% if fields.social.facebook %}
                    <li><a class="c-buttonsocial c-buttonsocial--facebook u-icon u-icon--circle" href="https://www.facebook.com/carletonuniversity">{{ source('icons/facebook.svg') }}<span class="u-visually-hidden">Like us on Facebook</span></a></li>
{% endif %}
{% if fields.social.twitter %}
                    <li><a class="c-buttonsocial c-buttonsocial--twitter u-icon u-icon--circle" href="https://twitter.com/@Carleton_U">{{ source('icons/twitter.svg') }}<span class="u-visually-hidden">Follow us on Twitter</span></a></li>
{% endif %}
{% if fields.social.youtube %}
                    <li><a class="c-buttonsocial c-buttonsocial--youtube u-icon u-icon--circle" href="https://www.youtube.com/user/carletonuvideos">{{ source('icons/youtube.svg') }}<span class="u-visually-hidden">Subscribe to our Youtube channel</span></a></li>
{% endif %}
{% if fields.social.linkedin %}
                    <li><a class="c-buttonsocial c-buttonsocial--linkedin u-icon u-icon--circle" href="https://www.linkedin.com/school/carleton-university">{{ source('icons/linkedin.svg') }}<span class="u-visually-hidden">View us on Linkedin</span></a></li>
{% endif %}
{% if fields.social.pinterest %}
                    <li><a class="c-buttonsocial c-buttonsocial--pinterest u-icon u-icon--circle" href="https://www.pinterest.ca/carletonu">{{ source('icons/pinterest.svg') }}<span class="u-visually-hidden">Check us out on Pinterest</span></a></li>
{% endif %}
                </ul>
{% endif %}
            </address>
        </div>
    </div>
</div>
{% endmacro %}
