<div class="u-block u-block--black u-block--l">
	<div class="b-footersitemap">
		<div class="footersitemap__links">
			<div class="footersitemap__columns">
				<div class="footersitemap__column">
					<h2>Admissions</h2>
					<ul>
						<li><a href="https://admissions.carleton.ca/programs/">Programs</a></li>
						<li><a href="https://admissions.carleton.ca/">Undergraduate</a></li>
						<li><a href="https://graduate.carleton.ca/">Graduate</a></li>
						<li><a href="https://admissions.carleton.ca/applicant-type/international-applicants/">International</a></li>
						<li><a href="https://carleton.ca/prospective/#anchor3">Professional Development</a></li>
						<li><a href="https://admissions.carleton.ca/campustours/">Campus Tours</a></li>
						<li><a href="https://carleton.ca/awards/">Financial Aid</a></li>
						<li><a href="https://carleton.ca/cie/">Initiatives In Education</a></li>
					</ul>
				</div>
				<div class="footersitemap__column">
					<h2>Students / Academics</h2>
					<ul class="footersitemap__list--two">
						<li><a href="https://students.carleton.ca/">Undergrad Homepage</a></li>
						<li><a href="https://gradstudents.carleton.ca/">Grad Homepage</a></li>
						<li><a href="https://calendar.carleton.ca/">Calendars</a></li>
						<li><a href="https://carleton.ca/cuol/">Carleton Online</a></li>
						<li><a href="https://carleton.ca/cc/">CO-OP &amp; Career Services</a></li>
						<li><a href="https://carleton.ca/culearn/">cuLearn</a></li>
						<li><a href="https://carleton.ca/academics/">Departments &amp; Faculties</a></li>
						<li><a href="https://carleton.ca/discoverycentre/">Discovery Centre</a></li>
						<li><a href="https://carleton.ca/ccs/all-services/email/carleton-student-email/">Email</a></li>
						<li><a href="https://library.carleton.ca/">Library</a></li>
						<li><a href="https://housing.carleton.ca/">Housing</a></li>
						<li><a href="https://carleton.ca/provost/">Provost's Office</a></li>
						<li><a href="https://carleton.ca/registrar/">Registrar's Office</a></li>
						<li><a href="https://carleton.ca/registrar/registration/">Registration</a></li>
						<li><a href="https://carleton.ca/academics/schedules-dates/">Schedules &amp; Dates</a></li>
						<li><a href="https://carleton.ca/academics/support/">Support Services</a></li>
					</ul>
				</div>
				<div class="footersitemap__column">
					<h2>Campus</h2>
					<ul class="footersitemap__list">
						<li><a href="https://carleton.ca/campus/">Campus Map</a></li>
						<li><a href="https://carleton.ca/campus/directions/">Directions</a></li>
						<li><a href="https://events.carleton.ca/">Events</a></li>
						<li><a href="https://carleton.ca/parking/">Parking</a></li>
						<li><a href="https://carleton.ca/safety/">Safety</a></li>
						<li><a href="https://dining.carleton.ca/">Dining Services</a></li>
						<li><a href="https://cusaonline.ca/clubs/">Clubs &amp; Societies</a></li>
					</ul>
				</div>
				<div class="footersitemap__column">
					<h2>Ravens for life</h2>
					<ul class="footersitemap__list">
						<li><a href="https://futurefunder.carleton.ca">Giving to Carleton</a></li>
						<li><a href="https://athletics.carleton.ca/">Athletics &amp; Recreation</a></li>
						<li><a href="https://goravens.ca/">Go Ravens - Varsity</a></li>
						<li><a href="https://goravens.ca/"><svg area-hidden="true" width="60" height="76" viewBox="0 0 79 100" xmlns="https://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M44.76 65.605v-53.38C38.6 24.41 26.575 34.466 11.078 41.058c18 7.592 32.44 33.442 33.682 58.747C45.998 74.5 60.443 48.65 78.44 41.057 63.21 45.81 50.97 54.737 44.76 65.605M19.51 14.586c-1.508 1.42-3.54 2.294-5.777 2.294-4.66 0-8.435-3.762-8.435-8.404 0-1.244.28-2.422.77-3.484l6.206-1.15L2.968 0C1.114 2.332 0 5.273 0 8.476 0 16.033 6.15 22.16 13.735 22.16c4.472 0 8.435-2.142 10.942-5.44l-5.168-2.134"/></g></svg><span class="u-visually-hidden">Visit GoRavens.ca</span></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer__contact">
			<address>
				<div>1125 Colonel By Drive, Ottawa, ON, K1S 5B6, Canada</div>
				<span class="p-tel">Phone: <a href="tel:+1-613-520-2600">1-613-520-2600</a></span>
				<div><a href="https://carleton.ca/about/contact/">Contact Info</a></div>
				<ul>
					<li><a class="c-buttonsocial c-buttonsocial--instagram u-icon u-icon--circle" href="https://www.instagram.com/carleton_u">{{ source('icons/instagram.svg') }}<span class="u-visually-hidden">Follow us on Instagram</span></a></li>
					<li><a class="c-buttonsocial c-buttonsocial--facebook u-icon u-icon--circle" href="https://www.facebook.com/carletonuniversity">{{ source('icons/facebook.svg') }}<span class="u-visually-hidden">Like us on Facebook</span></a></li>
					<li><a class="c-buttonsocial c-buttonsocial--twitter u-icon u-icon--circle" href="https://twitter.com/@Carleton_U">{{ source('icons/twitter.svg') }}<span class="u-visually-hidden">Follow us on Twitter</span></a></li>
					<li><a class="c-buttonsocial c-buttonsocial--youtube u-icon u-icon--circle" href="https://www.youtube.com/user/carletonuvideos">{{ source('icons/youtube.svg') }}<span class="u-visually-hidden">Subscribe to our Youtube channel</span></a></li>
					<li><a class="c-buttonsocial c-buttonsocial--linkedin u-icon u-icon--circle" href="https://www.linkedin.com/school/carleton-university">{{ source('icons/linkedin.svg') }}<span class="u-visually-hidden">View us on Linkedin</span></a></li>
				</ul>
			</address>
		</div>
	</div>
</div>
